extends ../_includes/_layout.pug

append variables
  //- Required
  - var pageID = "services";
  - var pageTitle = "サービス";
  - var pageDescription = site.description;
  //- Optional
  - var pageOgpImage = site.ogpImage
  - var pageOgpType = "website";

block styles
  link(rel="stylesheet" type="text/css" href="../css/pages/service.min.css")


block content
  section.keyvisual
    p
      span.key_title_main SERVICES
      span.key_title_sub サービス
  div.wrapper-wrapper
    div.wrapper
      div.top_ourService.container_bg
        .top_ourService01
          h3 BUSINESS CONCEPT
        img(src="../img/anti-pattern__cervice.png" alt="ビジネスコンセプト図").pc_img
        img(src="../img/ap_pirammid_sp.png" alt="ビジネスコンセプト図").sp_img
      div.top_ourService
        h3.serviceList_h3 SERVICE LIST
      .community_support.matchting
        h3.title マッチング
        .servicelist
          .service_img
            img(src="../img/engineed.svg" alt="engineed").enjineed_img_sizing
          .service_text
            h4 engineed
              span.reduction エンジニード
            p engineedは、AWSエンジニア特化型のスカウトサービスです。公式資格を有しているAWSエンジニアを副業や正社員など様々な契約形態で採用することができます。
            a(href="https://info.engineed.io/",target="_blank").bule.under_var SERVICE SITE
              span.site_link
                img(src="../img/service-link-icon.png", alt="サイトリンク")
        .servicelist
          .service_img
            img(src="../img/gateway.png" alt="gateway").gateway_img_sizing
          .service_text
            h4.service_text_pc Gateway
              span.reduction ゲートウェイ
            p 様々な企業に対して、ソフトウェア開発の支援事業を行なっております。これまで、上場企業の自社プロダクトとしてSaaSの開発やメディアの開発で培った経験から、 主にWebサービスの開発経験に強みがあります。また、インフラ構築の技術にも定評があります。
            //- a(href="#").bule.under_var SERVICE SITE
              //- span.site_link
              //-   img(src="../img/service-link-icon.png", alt="サイトリンク")
        .servicelist
          .service_img
            img(src="../img/nitro.svg" alt="nitro").nitoro_img_sizing
          .service_text
            h4 NITRO
              span.reduction ニトロ
            p エンジニアを活かしたアクセラレーションプログラム。素晴らしいビジネスプランを持っているが、エンジニアリソースを持っていないスタートアップに、短期的な資金を使わずにエンジニアリソースを提供し、一緒に動くものを創り上げるプログラムです。
            //- a(href="#").bule.under_var SERVICE SITE
              //- span.site_link
              //-   img(src="../img/service-link-icon.png", alt="サイトリンク")
      .community_support
        h3.title コミュニティ形成支援
        .servicelist
          .service_img
            img(src="../img/harbors.svg" alt="harbors").harbors_img_sizing
          .service_text
            h4 HarborS
              span.reduction ハーバーズ
            p 表参道のエンジニア特化型コミュニティスペース。コワーキング会員のみならず、ドロップインの利用も可能。渋谷からも近い距離にあり、多くのエンジニアにとって、足を運びやすい場所に位置しています。勉強会やイベントも多数開催中。
            a(href="https://harbors.anti-pattern.co.jp/",target="_blank").bule.under_var SERVICE SITE
              span.site_link
                img(src="../img/service-link-icon.png", alt="サイトリンク")
      .community_support
        h3.title.skill_up スキルアップ
        .servicelist.posse
          .service_img
            img(src="../img/posse.svg" alt="posse").posse_img_sizing
          .service_text
            h4 POSSE
              span.reduction ポッセ
            p プログラミング未経験の大学生が仲間と共に学ぶコミュニティ。大学生のうちから、「人格」+「プログラミング」を学ぶコミュニティを形成し、将来に渡って長期的に人生を豊かにし合う仲間を熟成します。 また、それにより新卒就職時に即戦力人材を目指します。
            a(href="https://posse.anti-pattern.co.jp/",target="_blank").bule.under_var SERVICE SITE
              span.site_link
                img(src="../img/service-link-icon.png", alt="サイトリンク")
        .servicelist
          .service_img
            img(src="../img/extendsLogo_420.png" alt="extends").extends_img_sizing
          .service_text
            h4.extends extends
              span.reduction エクステンズ
            p エンジニアイネーブルメントプログラム。初学者エンジニアに、現役エンジニアのメンターがついてオンラインやFace to Faceで質問や相談ができるプログラムです。
            a(href="https://harbors.anti-pattern.co.jp/extends/",target="_blank").bule.under_var SERVICE SITE
              span.site_link
                img(src="../img/service-link-icon.png", alt="サイトリンク")
