footer.footer
  a(href="#top").arrow.footer_jump
  div.footer__inner
      div.footer_1
        div.engineer_blog 
          a(href="https://medium.com/anti-pattern-engineering")
            span.engineer_blog_text エンジニアブログ
            span.engineer_blog_icon
              img(src="../../img/blog-link-icon.png", alt="エンジニアブログ")
        div.sns_icons
          a(href="https://www.facebook.com/Anti-Pattern-Inc-405308950323951")
            span.sns_icon_item
              span.sns_logo
                img(src="../../img/fb-w.png", alt="Facebook")
              span.sns_name Facebook
          a(href="https://twitter.com/antipatterninc")
            span.sns_icon_item
              span.sns_logo
                img(src="../../img/tw-w.png", alt="Twitter")
              span.sns_name Twitter
          a(href="https://www.linkedin.com/authwall?trk=gf&trkInfo=AQHkwu6g6J3NrQAAAXbaUacor-1FNnHTrs_4xyUJCXmHGcM4dLBGxj95DJRoZVpNmi9VuDyl4P7OIkGuiA_jw_dCF2XWccTB1goSKP52zqUN9CDPqd491waSaYIw2HMXetoZgNM=&originalReferer=https://www.google.com/&sessionRedirect=https%3A%2F%2Fjp.linkedin.com%2Fin%2Fyukiozasa")
            span.sns_icon_item
              span.sns_logo.li_logo
                img(src="../../img/li-w.png", alt="LinkedIn")
              span.sns_name LinkedIn
      div.footer_2
        div.footer_navs
          span.footer_nav.legal_page_only
            a(href="/legal/") 個人情報の取り扱い
          //- span.footer_nav.xxxxx_page_only
          //-   a(href="/useful_infomation/") お役立ち情報
        small.copyright ©2020 Copyriht Anti-Pattern Inc.
