@import "../variables";
@import "../mixins";

/* boxes
--------------------------------------------------------------*/
.box09:after {
  right: 56px;
  top: 2271px;
  padding-top: 6.5%;
  width: 6.5%;
  // z-index: 9;
  @include mq(sp){
    left: 20px;
    top: 2174px;
    padding-top: 10.5%;
    width: 10.5%;
  }
}
.box08:after {
  right: 0;
  top: 2157px;
  padding-top: 12.5%;
  width: 9%;
  // z-index: 10;
  @include mq(sp){
    left: -28px;
    top: 2120px;
    padding-top: 20%;
    width: 20%;
  }
}
.box07:after {
  left: 78px;
  top: 1400px;
  padding-top: 5%;
  width: 5%;
  // z-index: 10;
  @include mq(sp){
    left: -25px;
    top: 1493px;
    padding-top: 10.4%;
    width: 10.4%;
  }
}
.box06:after {
  right: 71px;
  top: 1188px;
  padding-top: 6.5%;
  width: 6.5%;
  // z-index: 10;
  @include mq(sp){
    right: 24px;
    top: 977px;
    padding-top: 13.5%;
    width: 13.5%;
  }
}
.box05:after {
  right: 0px;
  top: 1220px;
  padding-top: 11%;
  width: 8.4%;
  // z-index: 9;
  @include mq(sp){
    right: 0px;
    top: 917px;
    padding-top: 23%;
    width: 13%;
  }
}
.box04:after {
  left: 33px;
  top: 746px;
  padding-top: 6%;
  width: 6%;
  // z-index: 9;
  @include mq(sp){
    left: -41px;
    top: 746px;
    padding-top: 30%;
    width: 30%;
  }
}
.box03:after {
  left: 106px;
  top: 846px;
  padding-top: 4%;
  width: 4%;
  // z-index: 10;
  @include mq(sp){
    display: none;
  }
}
.box02:after {
  right: 90px;
  top: 289px;
  padding-top: 11%;
  width: 11%;
  // z-index: 9;
  @include mq(sp){
    right: 40px;
    top: 218px;
    padding-top: 15.6%;
    width: 15.6%;
  }
}
.box01:after {
  z-index: 10;
  right: 47px;
  top: 251px;
  padding-top: 6.5%;
  width: 6.5%;
  @include mq(sp){
    right: 21px;
    top: 202px;
    padding-top: 9.2%;
    width: 9.2%;
  }
}

.wrapper {
    max-width: 1198px;
    margin: 0 auto;
    padding: 0 60px;
}

.wrapper {
  max-width: 1220px;
  background: #fff; 
  padding-bottom: 95px;
}

.container_bg {
  padding-top: 134px;
  position: relative;
  display: inline-block;
  .pc_img {
    margin-bottom: 38px;
  }
}

@media (max-width:950px){
  .wrapper {
    padding-bottom: 64px;
  }
  .keyvisual {
    padding-top: 19px;
    padding-bottom: 63px;
    .key_title_main {
      font-size: 32px;
      display: block;
    }
    .key_title_sub {
      font-size: 13px;
      margin-top: 13px;
    }
  }
  .top_ourService01 {
    margin-bottom: 27px;
    margin-top: 48px;
  }
  .top_ourService {
    padding-top: 120px;
    h3 {
      margin-bottom: 0px;
    }
  }
  .container_bg {
    padding-top: 27px;
  }
  .serviselist {
    flex-direction: column;
    justify-content: center;
  }
  .pc_img {
    display: none;
  }
  .sp_img {
    display: block;
    width: 65%;
    text-align: center;
    height: auto;
  }
  .servise_img {
    height: 32vw;
    width: 100%;
  }
  .servise_text {
    width: 100%;
    h4 {
      margin-top: 21px;
    }
    p {
      margin-bottom: 14px;
    }
  }
  .community_support {
    margin-bottom: 72px;
    .matchting {
      margin-bottom: 66px;
      letter-spacing: 0.6;
    }
    .posse {
      margin-bottom: 62px;
    }
    .title {
      margin-top: 48px;
      margin-bottom: 27px;
      font-size: 13px;
      text-align: center;
      letter-spacing: 2.6px;
    }
    .skill_up {
      margin-bottom: 29px;
      font-size: 13px;
      margin-top: -2px;
      text-align: center;
      letter-spacing: 1px;
    }
  }
  .servise_img {
    height: 46vw;
    max-width: 530.5px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #E5E5E5;
    img {
      height: auto;
    }
    .harbors_img_sizing {
      max-width: 115px;
      width: 80%;
    }
    .posse_img_sizing {
      max-width: 147.5px;
      width: 80%;
    }
    .extends_img_sizing {
      max-width: 130.5px;
      width: 80%;
    }
    .enjineed_img_sizing {
      max-width: 186px;
      width: 80%;
    }
    .nitoro_img_sizing {
      max-width: 119.5px;
      width: 80%;
    }
    .gateway_img_sizing {
      margin-top: -7px;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 4px;
    }
  }
}

.section {
  position: relative;
  z-index: 50;
  padding-top: 124px;
  margin: 0 auto;
  max-width: 800px;
  h3 {
    font-family: $font-english;
    color: #4fabba;
    font-size: 24px;
    letter-spacing: 0;
  }
  p {
    margin-top: 27px;
    font-size: 18px;
    line-height: 44px;
    color: $color-dark;
    font-weight: bold;
    letter-spacing: 0px;
  }
}
.outline_table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 64px;
}
.outline_table_item:last-child {
  border-bottom: solid 2px #eeeeee;

}
.outline_table_item {
  font-size: 13px;
  font-weight: bold;
  color: $color-dark;
  width: 100%;
  border-top: solid 2px #eeeeee;
  padding-top: 41px;
  padding-bottom: 39px;
  .mini_info {
    display: inline-block;
    margin-left: 11px;
    letter-spacing: 0.2px;
  }
  .mini_title {
    // margin-top: 17px;
    padding-left: 24px;
    width: 100px;
    display: inline-block;
  } 
}
.Anti-Pattern,
.minowa,
.ceo_english_name,
.outline_table_item_sns .mini_info,
.outline_table_item_capital .mini_info,
.outline_table_item_day .mini_info {
  font-family: $font-english;
}
.outline_table01 {
  width: 47%;
}
.outline_table02 {
  width: 47%;
  .outline_table_item {
    margin-right: -15px;
  }
}


@media (max-width:950px){
  .container {
    .keyvisual {
      padding-top: 4px;
      padding-bottom: 35px;
    }
    .company_keyvisual {
      .key_title_main {
        font-size: 32px;
      }
      .key_title_sub {
        font-size: 13px;
      }
      .sp_br {
        margin-top: -4px;
      }
    }
    .title_member {
      margin-top: -29px;
      margin-bottom: 30px;
    }
  }
  .outline_table {
    display: block;
    
  }
  .outline_table01 {
    width: 100%;
  }
  .outline_table02 {
    width: 100%;
  }
  .outline_table_item {
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .section {
    max-width: 80%;
    padding-top: 85px;
    p {
      font-size: 14px;
      letter-spacing: 0;
      line-height: 32px;
      margin-top: 20px;
    }
  }
  .first_what {
    letter-spacing: -0.2px;
  }
  .section_why {
    padding-top: 99px;
    p {
      letter-spacing: 0px;
      margin-left: 3px;
    }
  }
  .section_how {
    padding-top: 94px;
  }
  .wrapper {
    padding-bottom: 151px;
  }
  .outline_table_item:last-child {
    border-bottom: solid 2px #eeeeee;
  }
  .outline_table_item {
    font-size: 13px;
    color: $color-dark;
    width: 90%;
    border-top: solid 2px #eeeeee;
    padding-top: 31px;
    padding-bottom: 30px;
    font-weight: bold;
    .mini_info {
      margin-left: 6px;
      letter-spacing: 0.2px;
      .Anti-Pattern {
        font-size: 13px;
        font-weight: bold;
        margin-top: 4px;
        display: inline-block;
        letter-spacing: -0.1px;
      }
    }
    .mini_title {
      // margin-top: 17px;
      padding-left: 43px;
      width: 138px;
      display: inline-block;
    } 
  }
  .outline_table_item_day {
    padding-top: 40px;
    padding-bottom: 40px;
    .mini_info {
      font-size: 13px;
    }
  }
  .outline_table_item_ceo {
    padding-top: 40px;
    padding-bottom: 40px;
    .mini_info {
      font-size: 13px;
      .ceo_english_name {
        font-size: 13px;
        display: inline-block;
        margin-left: 3px;
        letter-spacing: 0.2px;
        
      }
    }
  }
  .outline_table_item_address {
    padding-top: 30px;
    padding-bottom: 28px;
    .mini_info {
      letter-spacing: 0;
      font-size: 13px;
      .address_num {
        font-size: 13px;
      }
      .minowa {
        font-size: 13px;
        margin-top: 4px;
        display: inline-block;
        letter-spacing: 0.4px;
      }
    }
  }
  .outline_table_item_phone {
    padding-top: 39px;
    padding-bottom: 41px;
    .mini_info {
      display: inline-block;
      margin-left: 7px;
      margin-bottom: 2px;
      letter-spacing: 0.4px;
      font-size: 13px;
    }
  }
  .outline_table_item_member {
    padding-top: 41px;
    padding-bottom: 41px;
    .mini_info {
      letter-spacing: 0;
      font-size: 13px;
      display: inline-block;
      margin-left: 9px;
    }
  }
  .outline_table_item_capital {
    padding-top: 39px;
    padding-bottom: 41px;
    .mini_info {
      letter-spacing: 0;
      font-size: 13px;
      display: inline-block;
      margin-left: 6px;
    }
  }
  .outline_table_item_main_plant_owner {
    padding-top: 39px;
    padding-bottom: 41px;
    .mini_info {
      letter-spacing: 0;
      font-size: 13px;
      display: inline-block;
      margin-left: 6px;
    }
  }
  .outline_table_item_sns {
    padding-top: 39px;
    padding-bottom: 41px;
    .mini_info {
      display: inline-block;
      margin-left: 7px;
      margin-bottom: 2px;
      letter-spacing: 0.4px;
      font-size: 13px;
    }
  }
  .outline_table_item_dispatch {
    padding-top: 39px;
    padding-bottom: 41px;
    .mini_info {
      display: inline-block;
      margin-left: 7px;
      margin-bottom: 2px;
      letter-spacing: 0.4px;
      font-size: 13px;
    }
  }
  .outline_table_item_employment_placement {
    padding-top: 39px;
    padding-bottom: 41px;
    .mini_info {
      display: inline-block;
      margin-left: 7px;
      margin-bottom: 2px;
      letter-spacing: 0.4px;
      font-size: 13px;
    }
  }
  
  .container_bg .member_wrapper {
    margin-bottom: -37px;
  }
  .outline_table01 {
    .outline_table_item:last-child {
      border-bottom: solid 0px #eeeeee;
    }
  }
  .outline_table02 {
    .outline_table_item {
      margin-right: auto;
    }
  }
  .center_shifter {
    margin-right: auto;
    margin-left: auto;
    width: 313px;
    display: flex;
    align-items: center;
  }
}
@media (max-width:400px){
  .section {
    max-width: 295px;
  }

  .center_shifter {
    margin-left: -17px;
    width: 313px;
    display: flex;
    align-items: center;
  }
}
@media (max-width:1192px){
  .servise_img, .servise_text {
    margin-right: auto;
    margin-left: auto;
  }
}


.company {
  &-wrapper {
    padding: 0 0 170px;
    overflow: hidden;
  }
  
  &-section {
    padding: 0 40px;
    position: relative;

    @include mq(pc,max) {
      padding: 0 20px;
    }
  }
  
  &-section-inner {
    max-width: 930px;
    margin: 0 auto;
  }

  &-background-container {
    background: #f8f8f8;
    padding: 120px 0 336px;
    
    @include mq(sp) {
      padding: 82px 0 282px;
    }
  }

  &-member {
    margin-top: -162px;
  }

  &-member-list {
    @include mq(sp,min) {
      display: flex;
      margin: 0 -45px;
      flex-wrap: wrap;
    }

    @include mq(sp) {
      padding: 0 40px;
      margin-top: 42px;
    }
  }

  &-member-item {
    @include mq(sp,min) {
      flex: 0 0 33.3333%;
      padding: 62px 45px;
    }

    @include mq(tb) {
      flex-basis: 50%;
    }

    @include mq(sp) {
      & + & {
        margin-top: 60px;
      }
    }
  }

  &-member-figure  {
    margin: 0;
    position: relative;

    img {
      width: 100%;
    }

    figcaption {
      font-size: 28px;
      line-height: 30px;
      color: #4fabba;
      font-weight: bold;
      margin-bottom: 14px;
      font-family: $font-english;
      letter-spacing: 2px;
      position: absolute;
      bottom: -1em;
      left: 0;

      @include mq(sp) {
        font-size: 30px;
      }
    }
  }

  &-member-info {
    margin-top: 28px;
  }

  &-member-info-name {
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: bold;
    letter-spacing: 0;
  }
  
  &-member-info-name-inline {
    font-size: 13px;
    margin-bottom: 10px;
    display: block;
  }

  &-member-info-detail {
    line-height: 1.84;
    color: #999;
    font-weight: bold;
    font-size: 13px;
  }

  &-member-info-detail {
    line-height: 1.84;
    color: #999;
    font-weight: bold;
    font-size: 13px;
  }
}
