@import "../variables";
@import "../mixins";

/*==========================================================================
# detail
========================================================================== */
.detail {
  &-container {
    padding: 62px 40px 155px;

    @include mq(tb) {
      padding: 62px 20px 155px;
    }

    @include mq(sp) {
      padding: 34px 20px 88px;
    }

    .news & {
      background: #f8f8f8;
    }

    .useful_information & {
      padding: 100px 40px 190px;

      @include mq(sp) {
        padding: 60px 20px 160px; 
      }
    }
  }

  &-inner {
    max-width: 1100px;
    margin: 0 auto;

    .news & {
      background: #fff;
      padding: 80px 100px 120px;
      
      @include mq(tb) {
        padding: 80px 40px 120px;
      }

      @include mq(sp) {
        padding: 24px 20px 80px;
      }
    }

    .useful_information & {
      max-width: 900px;
    }
  }

  &-header {
    border-bottom: solid 4px #eee;
    padding-bottom: 40px;

    @include mq(sp) {
      padding-bottom: 24px;
    }
  }

  &-header-date {
    font-size: 13px;
    font-family: $font-english;
    letter-spacing: .05em;
    color: $color-blue-main;
  }
  
  &-header-title {
    margin-top: 12px;
    color: $color-dark;
    font-size: 34px;
    font-weight: bold;
    line-height: 1.47;

    @include mq(sp) {
      font-size: 24px;
    }
  }

  &-content {
    margin-top: 48px;

    @include mq(sp) {
      margin-top: 30px;
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
      line-height: 1.5556;
      margin: 2.8em 0 1em;

      @include mq(sp) {
        margin: 1.4em 0;
      }
    }

    h1, h2 {
      font-size: 18px;
      font-weight: bold;
    }

    h3 {
      font-size: 16px;
    }

    h4 {
      font-size: 15px;
    }

    h4, h5, h6 {
      font-size: 14px;
    }

    p {
      font-size: 13px;
      line-height: 1.84;
      margin: 1em 0;
    }

    a {
      color: $color-blue-main;
      text-decoration: underline;
    }

    ul {
      list-style: disc;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
    }

    blockquote {
      position: relative;
      padding: 16px;
      box-sizing: border-box;
      font-style: italic;
      background: #efefef;
      color: #555;
      border-left: solid 4px #888;

      @include mq(sp) {
        margin-left: 0;
        margin-right: 0;
      }

      p {
        padding: 0;
        margin: 10px 0;
        line-height: 1.5556;
      }
      
      cite {
        display: block;
        text-align: right;
        color: #888;
        font-size: .9em;
      }
    }
    

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &-share {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 74px;
  }

  &-share-label {
    font-size: 13px;
    font-weight: bold;
    font-family: $font_english;
    text-transform: uppercase;
    color: #999;
  }

  &-share-list {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }

  &-share-item {
    width: 25px;

    & + & {
      margin-left: 15px;
    }

    &.-linkedin {
      width: 28px;
    }
  }

  &-share-item-link {
    display: block;

    @include mq(pc) {
      transition: opacity .3s;

      &:hover {
        opacity: .7;
      }
    }

    img {
      width: 100%;
    }
  }
}
