
@import "../variables";
@import "../mixins";
.container {
    position: relative;
    // display: inline-block;
}

// .key_title_main,
// .keyvisual_box04, 
// .keyvisual_box05, 
// .keyvisual_box06, 
// .keyvisual_box07, 
// .keyvisual_box08, 
// .keyvisual_box09, 
// .keyvisual_box10, 
// .keyvisual_box11{
//     position: relative;
// }


.recruit_box06:after {
    left: 391px;
    top: 292px;
    padding-top: 3.6%;
    width: 3.6%;
    @include mq(sp) {
        left: 103px;
        top: 329px;
        padding-top: 7.6%;
        width: 7.6%;
    }
}
.recruit_box05:after {
    left: 490px;
    top: 142px;
    padding-top: 4.2%;
    width: 4.2%;
    @include mq(sp) {
        left: 23px;
        top: 196px;
        padding-top: 11%;
        width: 11%;
    }
}
.recruit_box04:after {
    left: 215px;
    top: 131px;
    padding-top: 7%;
    width: 7%;
    @include mq(sp) {
        left: 57px;
        top: 74px;
        padding-top: 11.5%;
        width: 11.5%;
    }
}
.recruit_box03:after {
    left: 125px;
    top: 39px;
    padding-top: 11%;
    width: 11%;
    @include mq(sp) {
        left: 10px;
        top: 25px;
        padding-top: 20%;
        width: 20%;
    }
}
.recruit_box02:after {
    right: 0px;
    top: 41px;
    padding-top: 16.5%;
    width: 7%;
    @include mq(sp) {
        right: 0px;
        top: 75px;
        padding-top: 28.5%;
        width: 10.5%;
    }
}
.recruit_box01:after {
    right: 232px;
    top: 115px;
    padding-top: 5%;
    width: 5%;
    @include mq(sp) {
        top: 142px;
        right: 75px;
        width: 8%;
        padding-top: 8%;
    }
}
.img_box05:after {
    right: 80px;
    top: 804px;
    padding-top: 7.5%;
    width: 7.5%;
    z-index: -1;
    @include mq(sp) {
        right: 58px;
        top: 1101px;
        padding-top: 18.5%;
        width: 18.5%;
    }
}
.img_box04:after {
    right: -22px;
    top: 704px;
    padding-top: 13%;
    width: 13%;
    z-index: -1;
    @include mq(sp) {
        right: -9px;
        top: 1119px;
        padding-top: 32.5%;
        width: 32.5%;
    }
}
.img_box03:after {
    left: 530px;
    top: 548px;
    padding-top: 4%;
    width: 4%;
    z-index: 1;
    @include mq(sp) {
        left: -40px;
        top: 1067px;
        padding-top: 26%;
        width: 26%;
        z-index: -1;
    }
}
.img_box02:after {
    left: -227px;
    top: 781px;
    width: 22.5%;
    padding-top: 22.5%;
    z-index: -1;
    @include mq(sp) {
        right: 12px;
        left: auto;
        top: 547px;
        width: 13.5%;
        padding-top: 13.5%;
        z-index: 0;
        background-color: #C39682;
    }
}
.img_box01:after {
    left: -44px;
    top: 139px;
    width: 45%;
    padding-top: 63%;
    z-index: -1;
}
@media (max-width:1142px){
    .img_box01:after {
        left: 0;
        top: 642px;
        width: 40%;
        padding-top: 67%;
    }
}
.keyvisual_box10:after {
    left: -276px;
    top: -143px;
    width: 18.4%;
    padding-top: 18.4%;
    z-index: 0;
    @include mq(sp) {
        left: 13px;
        top: -78px;
        width: 18.4%;
        padding-top: 18.4%;
    }
}
@media (max-width:926px){
    .keyvisual_box10:after {
        display: none;
    }
}
@media (max-width:767px){
    .keyvisual_box10:after {
        display: inline-block;
    }
}
.keyvisual_box09:after {
    left: -208px;
    top: 65px;
    width: 27%;
    padding-top: 27%;
    z-index: 0;
    @include mq(sp) {
        left: 21px;
        top: 223px;
        width: 17%;
        padding-top: 17%;
    }
}
.keyvisual_box08:after {
    left: 23px;
    top: 338px;
    width: 20.5%;
    padding-top: 20.5%;
    z-index: 0;
    @include mq(sp) {
        left: 7px;
        top: 379px;
        width: 25%;
        padding-top: 25%;
    }
}
.keyvisual_box07:after {
    left: 57px;
    top: 113px;
    width: 9%;
    padding-top: 9%;
    z-index: 0;
    @include mq(sp) {
    }
}
.keyvisual_box06:after {
    right: 91px;
    top: 191px;
    width: 9.5%;
    padding-top: 9.5%;
    z-index: 0;
    @include mq(sp) {
        right: 98px;
        top: 169px;
        width: 6.5%;
        padding-top: 6.5%;
    }
}
.keyvisual_box05:after {
    right: 125px;
    top: 10px;
    width: 6%;
    padding-top: 6%;
    z-index: 0;
    @include mq(sp) {
        display: none;
    }
}
  //
.keyvisual_box04:after {
    right: -146px;
    top: -57px;
    width: 16%;
    padding-top: 16%;
    z-index: 0;
    @include mq(sp) {
        right: -24px;
        top: -72px;
        width: 15%;
        padding-top: 15%;
    }
}
.keyvisual_box03:after {
    right: -99px;
    top: -28px;
    width: 28%;
    padding-top: 28%;
    z-index: 0;
    @include mq(sp) {
        right: 4px;
        top: -56px;
        width: 26%;
        padding-top: 26%;
    }
}
.keyvisual_box02:after {
    right: -213px;
    top: 293px;
    width: 16%;
    padding-top: 16%;
    z-index: 0;
    @include mq(sp) {
        display: none;
    }
}
.keyvisual_box01:after {
    right: 0px;
    top: 324px;
    width: 10%;
    padding-top: 13%;
    z-index: 0;

    @include mq(sp) {
        top: 317px;
        right: 0px;
        width: 18%;
        padding-top: 23%;
    }

    @include mq(tb) {
        // タブレットだけ（sp〜pcの間）
    }

    @include mq(pc) {
        // pc
    }

    @include mq(pc,max) {
        // pcサイズ未満（スマホとタブレット）
    }

    @include mq(sp,min) {
        // spサイズより大きい（タブレットとPC）
    }
  // width: 130px;/*幅*/
  // height: 130px;/*どれだけデカくなってもはみ出ないであろう高さを指定*/
  // background-size: contain;
}


//   .top_ourService_box01:before {/*スペースを作る*/
//     content: '';
//     top: 0;
//     left: 0;
//     width: 100%;/*指定したい幅*/
//     // padding-top: 90%;/*画像の幅に対する高さ比率*/
//     display: block;
//   }

// .top_ourService_box02 {
    //     position: relative;/*相対配置*/
    //   }
    
    //   .top_ourService_box02:before {/*スペースを作る*/
        //     content: '';
        //     top: 0;
        //     left: 0;
        //     width: 100%;/*指定したい幅*/
        //     // padding-top: 90%;/*画像の幅に対する高さ比率*/
        //     display: block;
        //   }
        
        .top_ourService_box02:after {
    right: 107px;
    top: 498px;
    width: 4%;
    padding-top: 4%;
    @include mq(sp) {
        right: 89px;
        top: 446px;
        width: 8%;
        padding-top: 8%;
    }
}
.top_ourService_box01:after {
    right: 6px;
    top: 403px;
    padding-top: 10%;
    width: 10%;
    @include mq(sp) {
        right: 20px;
        top:  380px;
        padding-top: 22%;
        width: 22%;
    }
}
.header {
    background-color:rgba(0,0,0,0);
    padding-top: 25px;
}
.header_top {
    background: #fff;
}
.background {
    background: #f8f8f8;
    .wrapper {
        background: #f8f8f8;
        max-width: 1210px;
        position: relative;
        z-index: 0;
    }
}
.wrapper-wrapper {
    background: #fff;
    margin: 0 -200%;
    padding: 0 200%;
}
.wrapper {
    max-width: 1198px;
    margin: 0 auto;
    padding: 0 60px;
}
.keyvisual {
    // overflow: hidden;
    // .z-index_100 {
    //     z-index: 100;
    // }
    // display: inline-block;
    box-sizing: content-box;
    // position: relative;
    padding: 190px 24px 217px 24px;
    color: #00282e;
    background-color: transparent;
    background-image : url("/img/hero_img.png") ;
    background-size: cover;
    font-weight: 900;
    z-index: 10;
    .key_title_sub {
        font-size: 34px;
        line-height: 18px;
        letter-spacing: 0px;
        display: block;
        z-index: 100;
        margin-top: 31px;
    }
    .key_title_main {
        font-size: 60px;
        line-height: 50px;
        margin-top:30px;
        letter-spacing: 0px;
        display: block;
    }
}

.keyvisual_inner {
    display: inline-block;
    position: relative;
}

.keyvisual_text {
    position: relative;
    z-index: 1;
}

.top_keyvisual {
    background-image : url("/img/hero_img.png");
}
.top_ourService01 {
    margin-bottom: 34px;
}
.top_ourService {
    text-align: center;
    margin: 0 auto;
    padding-top: 104px;
    margin-bottom: 173px;
    letter-spacing: 0px;
    h3 {
        font-family: $font-english;
        color: #4fabba;
        font-size: 24px;
        margin-bottom: 0px;
        display: inline-block;
        margin-left: 10px;
    }
    p {
        padding-top: 27px;
        font-weight: bold;
        margin-left: 8px;
        font-size: 18px;
        /* margin-left: 13px; */
        margin-top: -6px;
        letter-spacing: 0.1;
    }
    img{
        height: 30px;
        width: auto;
    }
    .arrow {
        width: 33px;
        height: auto;
        margin-bottom: 3px;
        margin-left: 7px;
    }
    .arrow_underbar {
        font-family: $font-english;
        color: #4fabba;
        position:relative;
        bottom: -33px;
        letter-spacing: 0px;
        font-size: 18px;
        padding-right: 6px;
        padding-left: 6px;
        padding-bottom: 2px;
        margin-right: 0px;
        // margin-left: 3px;
    }
    .arrow_underbar::after {
        content:"";
        display:block;
        width:160px;
        height:1px;
        background-color: #4fabba;
        position:absolute;
        // bottom:0;
        left:1px;
    }
}
.service_imgs_sp {
    // max-width: 1032px;
    // padding-top: 49px;
    margin: 0 auto;
    // margin-top: 49px;
    // margin-bottom: 69px;
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    margin-left: 44px;


    img {
        width: 150px;
        height: auto;
        margin: 0 46px 30px;
    }
    .top_nitro_img {
        width: 95px;
        margin-left: 57px;
    }
    .top_harbors_img {
        width: 108px;
        margin-bottom: 32px;
    }
    .top_extends_img {
        width: 128px;
        margin-top: -2px;
        margin-left: 22px;
    }
    .top_engineed_img {
        width: 160px;
        margin-bottom: 32px;
    }
    margin: 0 auto 0;
    margin-top: 52px;
}
.service_imgs {
    // max-width: 1032px;
    // padding-top: 49px;
    margin: 0 auto;
    // margin-top: 49px;
    // margin-bottom: 69px;
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    margin-left: 44px;


    img {
        width: 150px;
        height: auto;
        margin: 0 20px 30px;
    }
    .top_nitro_img {
        width: 95px;
        margin-left: 20px;
    }
    .top_harbors_img {
        width: 108px;
    }
    .top_extends_img {
        width: 128px;
        margin-top: 0px;
        margin-left: 0px;
    }
    .top_engineed_img {
        width: 160px;
    }
    margin: 0 auto 0;
    margin-top: 52px;
    margin-bottom: -4px;
}
.top_news {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    position: relative;

}
.top_news_img {
    // position: relative;
    // margin: 0 auto;
    margin-left: 55px;
    margin-top: 3px;
    width: 487px;
    img {
        width: 100%;
        position: relative;
    }
}
.view_all_cace {
    position: absolute;
    bottom: 99px;
    right: -28px;
    @include mq(sp) {
        // タブレットだけ（sp〜pcの間）
        position: static;
        display: inline-block;
    }
}
.view_all {
    display: inline-block;
    width: 115%;
    /* margin-left: 0px; */
    text-align: center;
    margin-right: 20px;
    @include mq(sp) {
        position: static;
        margin-right: 0px;
        margin-left: -3px;
    }
}
.top_news_main {
    position: relative;
    height: 550px;
    padding-bottom: 62px;
    box-sizing: border-box;
    text-align: right;
    margin-left: 49px;
    letter-spacing: 0px;
    margin: 0 auto;
    .arrow {
        width: 32px;
        height: auto;
        margin-bottom: 3px;
        margin-left: 8px;
        @include mq(sp) {
            
        }
    }
    .arrow_underbar {
        font-family: $font-english;
        color: #4fabba;
        position:relative;
        top: -1px;
        left: 0px;
        font-size: 18px;
        // margin-top: 30px;
    }
    .arrow_underbar::after {
        content:"";
        display:block;
        width:135px;
        height:1px;
        background-color: #4fabba;
        position:absolute;
        bottom:-6px;
        left:-6px;
    }
    h3 {
        text-align: left;
        font-size: 24px;
        // margin-left: 15px;
        margin-top: 1px;
        @include mq(pc) {
            margin-left: 15px;
        }
    }
}
.vision {
    margin-top: 53px;
    height: auto;
    // margin: 0 auto;
    max-width: 858px;
    margin: 0 auto;
    h2 {
        font-family: $font-english;
        line-height: 70px;
        margin-top: 53px;
        margin-bottom: 130px;
        font-weight: 900;
        font-size: 50px;
        text-align: center;
        letter-spacing: 0px;
    }
}

.top_ourCustomer {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 165px;
    h3 {
        font-family: $font-english;
        color: #4fabba;
        font-size: 24px;
        letter-spacing: 0px;
        margin-bottom: 37px;
    }
    img{
        height: auto;
        width: 100%;
    }
}
.top_ourCustomer_imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.filter {
    position: relative;
    background-color: rgba(0,0,0,0.2);
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-bottom: 40px;
    padding-top: 85px;
    padding-bottom: 118px;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
    font-family: $font-english;
    h4 {
        margin-top: 24px;
        letter-spacing: 0px;
        margin-bottom: 14px;
        position: relative;
        z-index: 29;
    }
    p {
        letter-spacing: 0px;
        line-height: 29px;
        position: relative;
        z-index: 29;
    }
}
.recruit {
    position: relative;
    text-align: center;
    background:url(/img/top_recruit.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100vw; /* 200(px) / 620(px) * 100vw */
    h4 {
        font-size: 24px;
    }
    p {
        font-size: 18px;
    }
    .btn {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }
    .rounded-btn {
        display: block;
        margin: 16px auto 0;
        background: rgb(13,147,224);
        background: linear-gradient(90deg, rgba(13,147,224,1) 0%, rgba(0,196,196,1) 100%);
        padding: 12px 41px;
        width: 300px;
    }
}
.img_cace {
    height: 280px;
    width: 514px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-bottom: 140px;
}
.bule {
    font-family: $font-english;
    color: #4FABBA;
}
.reduction {
    font-size: 8px;
    display: inline-block;
    margin-left: 10px;
}
.posts {
    font-size: 13px;
    font-weight: bold;
    margin-left: 11px;
    max-width: 470px;
    text-align: left;
    // margin-bottom: 45px;
    letter-spacing: 0.64;
}
.certical_posts_title {
    line-height: 24px;
}
.vertical-posts_item {
    margin-left: 11px;
    margin-top: 41px;
    line-height: 28px;
    border-bottom: solid 1px #EEEEEE;
    padding-bottom: 27px;
}
.vertical-posts_item:not(:first-child){
    margin-top: 30px;
}
.nav_service::after {
    display:none;
}
.img_cace {
    img {
        margin-top: -22px;
        width: 100%;
        max-width: 286px;
    }
    .mercury_img {
        max-width: 267px;
        margin-left: 6px;
    }
}
.pc_recruit_text {
    display: inline-block;
}
.sp_recruit_text {
    display: none;
}
.footer {
    position: relative;
}
@media (max-width:925px){
    .header_top {
        padding-top: 16px;
    }
    .pc_recruit_text {
        display: none;
    }
    .sp_recruit_text {
        display: inline-block;
    }
    .wrapper {
        padding: 0 20px;
    }
    .sp_br {
        display: block;
    }
    .posts {
        margin-left: 0;
        margin-bottom: 39px;
    }
    .top_news_main {
        padding-bottom: 50px;
        box-sizing: border-box;
        text-align: center;
        margin: 0 auto;
        height: 571px;
        h3 {
            text-align: center;
        }
        span {
            font-size: 18px;
            margin-left: 0px;
        }
    }
    .vision {
        margin-top: 0px;
        height: auto;
        h2 {
            margin-bottom: 155px;
            font-weight: 900;
            font-size: 30px;
            text-align: center;
            line-height: 35px;
            margin-top: 24px;
        }
    }
    .keyvisual {

        .sp_br {
            margin-top: 17px;
        }
        box-sizing: content-box;
        position: relative;
        padding: 131px 24px 217px 24px;
        text-align: center;
        color: #00282e;
        background-color: transparent;
        background-image : url("/img/hero_img.png") ;
        background-size: cover;
        font-weight: 900;
        .key_title_sub {
            font-size: 24px;
            line-height: 18px;
        }
        .key_title_main {
            font-size: 50px;
            line-height: 50px;
            margin-top:15px;
        }
    }
    .ten_pc {
        display: none;
    }
    .top_ourService {
        text-align: center;
        margin: 0 auto;
        padding-top: 37px;
        margin-bottom: 171px;
        letter-spacing: 0px;
        .sp_br {
            display: block;
            margin-top: 1px;
        }
        h3 {
            color: #4fabba;
            font-size: 24px;
            margin-bottom: 0px;
            margin-left: 0;
        }
        p {
            padding-top: 21px;
            font-weight: bold;
            font-size: 16px;
            margin-left: 0px;
            margin-right: 7px;
            margin-top: -3px;
            // line-height: 1px;
            letter-spacing: 0px;
            // .sp_br {
            //     margin-right: 16px;
            // }
        }
        img{
            height: 20px;
            width: auto;
        }
        .arrow {
            width: 33px;
            height: auto;
            // margin-bottom: -31px;
            margin-left: 7px;
        }
        .arrow_underbar {
            // margin-left: 6px;
            color: #4fabba;
            position:relative;
            bottom: -33px;
            letter-spacing: 0px;
            font-size: 18px;
            margin-right: 0px;
            margin-left: 0;
            left: 5px;
        }
        .arrow_underbar::after {
            content:"";
            display:block;
            width:161px;
            height:1px;
            background-color: #4fabba;
            position:absolute;
            // bottom:0;
            left:1px;
        }
        .service_imgs_sp {
            width: 100%;
        }
        .service_imgs_sp .top_extends_img {
            width: 81px;
            margin-top: 6px;
            margin-left: 10px;
        }
    }


    .service_imgs_sp {
        // max-width: 1032px;
        // padding-top: 49px;
        margin: 0 auto;
        // margin-top: 49px;
        // margin-bottom: 69px;
        display: block;
        // display: flex;
        // flex-wrap: wrap;
        justify-content: center;
        // margin-left: 44px;
    
    
        img {
            width: 100px;
            height: auto;
            margin: 0 10px;
        }
        .top_posse_img {
            margin-left: 10px;
        }
        .top_nitro_img {
            width: 62px;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 2px;
        }
        .top_harbors_img {
            width: 71px;
            margin-bottom: 0px;
        }
        .top_extends_img {
            width: 81px;
            margin-top: 25px;
        }
        .top_engineed_img {
            width: 102px;
            margin-bottom: 0px;
        }
        margin: 0 auto 2px;
        margin-top: 33px;
    }
    .service_imgs {
        // max-width: 1032px;
        // padding-top: 49px;
        margin: 0 auto;
        // margin-top: 49px;
        // margin-bottom: 69px;
        display: block;
        // display: flex;
        // flex-wrap: wrap;
        justify-content: center;
        // margin-left: 44px;
    
    
        img {
            width: 100px;
            height: auto;
            margin: 0 0px 0px;
        }
        .top_posse_img {
            margin-left: 0;
        }
        .top_nitro_img {
            width: 62px;
            margin-left: 30px;
            margin-right: 38px;
            margin-top: 2px;
        }
        .top_harbors_img {
            width: 71px;
            margin-bottom: -7px;
            margin-right: 15px;
        }
        .top_extends_img {
            width: 81px;
            margin-top: 28px;
            margin-left: 10px;
        }
        .top_engineed_img {
            width: 102px;
            margin-bottom: 0px;
            margin-left: 31px;
            padding-bottom: 6px;
        }
        margin: 0 auto 2px;
        margin-top: 33px;
    }
    .top_news {
        // display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
    
    }
    .top_news_img {
        // margin: 0 auto;
        margin-left: 51px;
        img {
            width: 100%;
            padding-right: 29px;
        }
        width: 487px;
    }
    .vertical-posts_item {
        margin-left: 0px;
        margin-top: 33px;
        line-height: 28px;
        border-bottom: solid 1px #EEEEEE;
        padding-bottom: 24px;
        margin-bottom: 5px;
    }
    .vertical-posts_item:not(:first-child){
        margin-top: 25px;
    }
    .vertical-posts_item03 {
        margin-top: 21px;
    }
    .img_cace {
        width: 333px;
        height: 165px;
        margin-bottom: 22px;
        img {
            margin-top: 0px;
            width: 100%;
            max-width: 183px;
        }
        .mercury_img {
            max-width: 172px;
            margin-left: 0px;
        }
    }
    .top_ourCustomer {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 56px;
        h3 {
            color: #4fabba;
            font-size: 24px;
            letter-spacing: 0px;
            margin-bottom: 26px;
        }
        img{
            height: auto;
            width: 100%;
        }
    }
    .filter {
        background-color: rgba(0,0,0,0.2);
        background-position: 50% 50%;
        background-size: cover;
        text-align: center;
        color: #fff;
        padding-bottom: 40px;
        padding-top: 79px;
        padding-bottom: 92px;
        font-weight: bold;
        padding-right: 36px;
        padding-left: 36px;
        h4 {
            margin-top: 24px;
            letter-spacing: 0px;
            margin-bottom: 15px;
            margin-left: 11px;
        }
        p {
            letter-spacing: 0px;
            line-height: 27px;
            font-size: 16px;

        }
    }
    .recruit {
        .rounded-btn {
            display: block;
            margin: 24px auto 0;
            background: rgb(13,147,224);
            background: linear-gradient(90deg, rgba(13,147,224,1) 0%, rgba(0,196,196,1) 100%);
            padding: 12px 41px;
            width: 100%;
            max-width: 400px;
        }
    }
    .innovation_imgbox {
        margin-right: auto;
        margin-left: auto;
    }
    .mercury_imgbox {
        margin-right: auto;
        margin-left: auto;
    }
}
.service_imgs_sp {
    display: none;
    // width: 640px;
}
.service_imgs {
    display: block;
}
@media (max-width:579px){
    .top_ourService .service_imgs_sp .top_extends_img {
        margin-top: 28px;
    }
    .recruit {
        text-align: center;
        background:url(/img/sp_top_recruit_bg.jpg) no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        width: 100vw; /* 200(px) / 620(px) * 100vw */
    }
}
@media (max-width:374px){
    .img_cace {
        width: 100%;
        margin-right: 20px;
        margin-left: 20px;
    }
}
@media (max-width:1207px){
    .service_imgs_sp {
        display: flex;
        flex-wrap: wrap;
    }
    .service_imgs {
        display: none;
    }
}
@media (max-width:1147px){
    .mercury_imgbox, .innovation_imgbox {
        margin: 0 auto;
    }
    .img_cace {
        // width: 333px;
        // height: 165px;
        margin-bottom: 22px;
        img {
            height: auto;
            width: 100%;
            margin-top: 0;
        }
    }
}
@media (max-width:659px){
    .keyvisual_box07{
        display: none;
    }
    footer .arrow:after, footer .arrow:before {
        display: none;
    }
    .img_box01:after {
        top: 642px;
        width: 76%;
        padding-top: 107%;
    }
}

