@import "../variables";
@import "../mixins";
// .header {
//     background-color:rgba(0,0,0,0);
// }
// .header_top {
//     background: #fff;
// }
.background {
    background: #f8f8f8;
    .wrapper {
        background: #f8f8f8;
        max-width: 1210px;
    }
}
.wrapper-wrapper {
    background: #fff;
    margin: 0 -200%;
    padding: 0 200%;
}
.wrapper {
    max-width: 1198px;
    margin: 0 auto;
    padding: 0 60px;
}
.keyvisual {
    box-sizing: content-box;
    position: relative;
    padding: 224px 24px 217px 24px;
    text-align: center;
    color: $color-dark;
    background-color: transparent;
    background-image : url("/img/hero_img.png") ;
    background-size: cover;
    font-weight: bold;
    .key_title_sub {
        font-size: 34px;
        line-height: 18px;
        letter-spacing: 0px;
        display: block;
    }
    .key_title_main {
        font-size: 60px;
        line-height: 50px;
        margin-top:28px;
        letter-spacing: 0px;
        display: block;
    }
}
.top_keyvisual {
    background-image : url("/img/hero_img.png");
}
.top_ourService01 {
    margin-bottom: 34px;
}
.top_ourService {
    text-align: center;
    margin: 0 auto;
    padding-top: 104px;
    margin-bottom: 173px;
    letter-spacing: 0px;
    h3 {
        font-family: $font-english;
        color: #4fabba;
        font-size: 24px;
        margin-bottom: 0px;
    }
    p {
        padding-top: 27px;
        font-weight: bold;
        font-size: 15px;
        margin-left: 13px;
        margin-top: -2px;
    }
    img{
        height: 30px;
        width: auto;
    }
    .arrow {
        width: 33px;
        height: auto;
        margin-bottom: -31px;
        margin-left: 3px;
    }
    .arrow_underbar {
        font-family: $font-english;
        color: #4fabba;
        position:relative;
        bottom: -33px;
        letter-spacing: -1px;
        font-size: 18px;
        margin-right: 3px;
    }
    .arrow_underbar::after {
        content:"";
        display:block;
        width:161px;
        height:1px;
        background-color: #4fabba;
        position:absolute;
        // bottom:0;
        left:-5px;
    }
}
.service_imgs {
    // max-width: 1032px;
    // padding-top: 49px;
    margin: 0 auto;
    // margin-top: 49px;
    // margin-bottom: 69px;
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    margin-left: 44px;


    img {
        width: 150px;
        height: auto;
        margin: 0 46px 30px;
    }
    .top_nitro_img {
        width: 95px;
        margin-left: 57px;
    }
    .top_harbors_img {
        width: 108px;
        margin-bottom: 32px;
    }
    .top_extends_img {
        width: 128px;
        margin-top: -2px;
        margin-left: 22px;
    }
    .top_engineed_img {
        width: 160px;
        margin-bottom: 32px;
    }
    margin: 0 auto 0;
    margin-top: 52px;
}
.top_news {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;

}
.top_news_img {
    // margin: 0 auto;
    margin-left: 50px;
    img {
        width: 100%;
    }
    width: 487px;
}
.top_news_main {
    
    height: 550px;
    padding-bottom: 62px;
    box-sizing: border-box;
    text-align: right;
    margin-left: 49px;
    letter-spacing: 0px;
    margin: 0 auto;
    .arrow {
        width: 32px;
        height: auto;
        // margin-bottom: 2px;
        margin-left: 8px;
    }
    .arrow_underbar {
        font-family: $font-english;
        color: #4fabba;
        position:relative;
        top: -1px;
        left: 0px;
        font-size: 18px;
        // margin-top: 30px;
    }
    .arrow_underbar::after {
        content:"";
        display:block;
        width:135px;
        height:1px;
        background-color: #4fabba;
        position:absolute;
        bottom:-8px;
        left:-6px;
    }
    h3 {
        text-align: left;
        font-size: 24px;
    }
}
.vision {
    margin-top: 53px;
    height: auto;
    // margin: 0 auto;
    max-width: 858px;
    margin: 0 auto;
    h2 {
        font-family: $font-english;
        line-height: 70px;
        margin-top: 53px;
        margin-bottom: 130px;
        font-weight: bold;
        font-size: 50px;
        text-align: center;
        letter-spacing: 0px;
    }
}

.top_ourCustomer {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 165px;
    h3 {
        font-family: $font-english;
        color: #4fabba;
        font-size: 24px;
        letter-spacing: 0px;
        margin-bottom: 37px;
    }
    img{
        height: auto;
        width: 100%;
    }
}
.top_ourCustomer_imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.filter {
    background-color: rgba(0,0,0,0.2);
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-bottom: 40px;
    padding-top: 85px;
    padding-bottom: 118px;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
    font-family: $font-english;
    h4 {
        margin-top: 24px;
        letter-spacing: 0px;
        margin-bottom: 15px;
    }
    p {
        letter-spacing: 0px;
        line-height: 29px;
    }
}
.recruit {
    text-align: center;
    background:url(/img/top_recruit.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100vw; /* 200(px) / 620(px) * 100vw */
    h4 {
        font-size: 24px;
    }
    p {
        font-size: 18px;
    }
    .btn {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }
    .rounded-btn {
        display: block;
        margin: 16px auto 0;
        background: rgb(13,147,224);
        background: linear-gradient(90deg, rgba(13,147,224,1) 0%, rgba(0,196,196,1) 100%);
        padding: 12px 41px;
        width: 300px;
    }
}
.img_cace {
    height: 280px;
    width: 514px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-bottom: 140px;
}
.bule {
    font-family: $font-english;
    color: #4FABBA;
}
.reduction {
    font-size: 8px;
    display: inline-block;
    margin-left: 10px;
}
.posts {
    font-size: 13px;
    font-weight: bold;
    margin-left: 11px;
    max-width: 470px;
    text-align: left;
    // margin-bottom: 45px;
    letter-spacing: 0.64;
}
.certical_posts_title {
    line-height: 24px;
}
.vertical-posts_item {
    margin-left: 11px;
    margin-top: 40px;
    line-height: 28px;
    border-bottom: solid 1px #EEEEEE;
    padding-bottom: 27px;
}
.vertical-posts_item:not(:first-child){
    margin-top: 30px;
}
.nav_service::after {
    display:none;
}
.img_cace {
    img {
        margin-top: -22px;
        width: 100%;
        max-width: 286px;
    }
    .mercury_img {
        max-width: 267px;
        margin-left: 6px;
    }
}
@media (max-width:925px){
    .wrapper {
        padding: 0 20px;
    }
    .sp_br {
        display: block;
    }
    .posts {
        margin-left: 0;
        margin-bottom: 41px;
    }
    .top_news_main {
        padding-bottom: 50px;
        box-sizing: border-box;
        text-align: center;
        margin: 0 auto;
        height: 571px;
        h3 {
            text-align: center;
        }
        span {
            font-size: 18px;
            margin-left: 10px;
        }
    }
    .vision {
        margin-top: 0px;
        height: auto;
        h2 {
            margin-bottom: 155px;
            font-weight: bold;
            font-size: 30px;
            text-align: center;
            line-height: 35px;
            margin-top: 27px;
        }
    }
    .keyvisual {
        .sp_br {
            margin-top: 14px;
        }
        box-sizing: content-box;
        position: relative;
        padding: 121px 24px 217px 24px;
        text-align: center;
        color: $color-dark;
        background-color: transparent;
        background-image : url("/img/hero_img.png") ;
        background-size: cover;
        font-weight: bold;
        .key_title_sub {
            font-size: 24px;
            line-height: 18px;
        }
        .key_title_main {
            font-size: 50px;
            line-height: 50px;
            margin-top:14px;
        }
    }
    .top_ourService {
        text-align: center;
        margin: 0 auto;
        padding-top: 37px;
        margin-bottom: 171px;
        letter-spacing: 0px;
        .sp_br {
            display: block;
            margin-top: 1px;
        }
        h3 {
            color: #4fabba;
            font-size: 24px;
            margin-bottom: 0px;
        }
        p {
            padding-top: 21px;
            font-weight: bold;
            font-size: 16px;
            margin-left: 0px;
            margin-top: -2px;
            // line-height: 1px;
            letter-spacing: 0px;
        }
        img{
            height: 20px;
            width: auto;
        }
        .arrow {
            width: 33px;
            height: auto;
            margin-bottom: -31px;
            margin-left: 7px;
        }
        .arrow_underbar {
            margin-left: 6px;
            color: #4fabba;
            position:relative;
            bottom: -33px;
            letter-spacing: 0px;
            font-size: 18px;
            margin-right: 0px;
        }
        .arrow_underbar::after {
            content:"";
            display:block;
            width:161px;
            height:1px;
            background-color: #4fabba;
            position:absolute;
            // bottom:0;
            left:-5px;
        }
    }


    .service_imgs {
        // max-width: 1032px;
        // padding-top: 49px;
        margin: 0 auto;
        // margin-top: 49px;
        // margin-bottom: 69px;
        display: block;
        // display: flex;
        // flex-wrap: wrap;
        justify-content: center;
        // margin-left: 44px;
    
    
        img {
            width: 100px;
            height: auto;
            margin: 0 0px 0px;
        }
        .top_posse_img {
            margin-left: 0;
        }
        .top_nitro_img {
            width: 62px;
            margin-left: 30px;
            margin-right: 38px;
            margin-top: 2px;
        }
        .top_harbors_img {
            width: 71px;
            margin-bottom: -7px;
            margin-right: 15px;
        }
        .top_extends_img {
            width: 81px;
            margin-top: 28px;
            margin-left: 10px;
        }
        .top_engineed_img {
            width: 102px;
            margin-bottom: 0px;
            margin-left: 31px;
            padding-bottom: 6px;
        }
        margin: 0 auto 2px;
        margin-top: 33px;
    }
    .top_news {
        // display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
    
    }
    .top_news_img {
        // margin: 0 auto;
        margin-left: 51px;
        img {
            width: 100%;
            padding-right: 29px;
        }
        width: 487px;
    }
    .vertical-posts_item {
        margin-left: 11px;
        margin-top: 34px;
        line-height: 28px;
        border-bottom: solid 1px #EEEEEE;
        padding-bottom: 23px;
        margin-bottom: 5px;
    }
    .vertical-posts_item:not(:first-child){
        margin-top: 25px;
    }
    .vertical-posts_item03 {
        margin-top: 21px;
    }
    .img_cace {
        width: 333px;
        height: 165px;
        margin-bottom: 22px;
        img {
            margin-top: 0px;
            width: 100%;
            max-width: 183px;
        }
        .mercury_img {
            max-width: 172px;
            margin-left: 0px;
        }
    }
    .top_ourCustomer {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 56px;
        h3 {
            color: #4fabba;
            font-size: 24px;
            letter-spacing: 0px;
            margin-bottom: 26px;
        }
        img{
            height: auto;
            width: 100%;
        }
    }
    .filter {
        background-color: rgba(0,0,0,0.2);
        background-position: 50% 50%;
        background-size: cover;
        text-align: center;
        color: #fff;
        padding-bottom: 40px;
        padding-top: 79px;
        padding-bottom: 92px;
        font-weight: bold;
        padding-right: 36px;
        padding-left: 36px;
        h4 {
            margin-top: 24px;
            letter-spacing: 0px;
            margin-bottom: 15px;
            margin-left: 11px;
        }
        p {
            letter-spacing: 0px;
            line-height: 27px;
            font-size: 16px;

        }
    }
    .recruit {
        .rounded-btn {
            display: block;
            margin: 24px auto 0;
            background: rgb(13,147,224);
            background: linear-gradient(90deg, rgba(13,147,224,1) 0%, rgba(0,196,196,1) 100%);
            padding: 12px 41px;
            width: 300px;
        }
    }
}

.container_bg {
  background-color: #F8F8F8;
  padding-top: 0;
  .memver_wrapper {
    max-width: 1020px;
  }
}

.wrapper {
  background-color: #F8F8F8;
  max-width: 930px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 206px;
  // margin-bottom: 48px;
}
.memver_wrapper {
  padding-bottom: 50px;
  // margin-bottom: 48px;
}
.nav_service {
  position:relative;
}
.nav_service::after {
  display:none;

}
.nav_company {
  position:relative;
}
.nav_company::after {
  content:"";
  display:block;
  width:69px;
  height:2px;
  background-color: $color-dark;
  position:absolute;
  bottom:-4px;
  // left:-5px;
}
.container {
  background:  #fff;
  .company_keyvisual {
    background-color: #EEEEEE;
    color: $color-dark;
    h2 {
      font-size: 50px;
      margin-bottom: 42px;
    }
    p {
      font-size: 11px;
      margin-top: -10px;
    }
  }
  .title_memver {
    font-family: $font-english;
    letter-spacing: 0;
    margin-top: -32px;
    text-align: center;
    color: #4fabba;
    font-size: 24px;
    margin-bottom: 46px;
  }
}
.keyvisual {
  background-color: #F8F8F8;
}
.section {
  padding-top: 122px;
  margin: 0 auto;
  max-width: 800px;
  h3 {
    font-family: $font-english;
    color: #4fabba;
    font-size: 24px;
  }
  p {
    margin-top: 27px;
    font-size: 18px;
    line-height: 44px;
    color: $color-dark;
    letter-spacing: -3.7px;
  }
}
.outline_table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.outline_table_item {
  font-size: 13px;
  color: $color-dark;
  width: 440px;
  border-top: solid 2px #eeeeee;
  border-bottom: solid 2px #eeeeee;
  padding-top: 40px;
  padding-bottom: 39px;
  .mini_info {
    display: inline-block;
    margin-left: 11px;
    letter-spacing: 0.2px;
  }
  .mini_title {
    // margin-top: 17px;
    padding-left: 24px;
    width: 100px;
    display: inline-block;
  } 
}
.outline_table01 {
  width: 46%;
}
.outline_table02 {
  width: 46%;
  .outline_table_item {
    margin-right: -15px;
  }
}
.title_outline {
  font-family: $font-english;
  margin-top: -22px;
  letter-spacing: 0;
  color: #4fabba;
  font-size: 24px;
  text-align: center;
  margin-bottom: 57px;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 121px;
}
.card {
  width: 250px;
  margin: 0 auto;
  .member_info {
    letter-spacing: 0;
    margin-top: -83px;
    h4 {
      font-size: 30px;
      line-height: 30px;
      color: #4fabba;
      font-weight: bold;
      margin-bottom: 14px;
    }
    .post_info {
      font-size: 13px;
      margin-bottom: 10px;
      font-weight: bold;
    }
    .name_info {
      font-size: 18px;
      margin-bottom: 12px;
      font-weight: bold;
      letter-spacing: 0;
    }
    .info_details {
      letter-spacing: -0.7;
      line-height: 24px;
    }
  }
  img {
    width: 250px;
  }
}
.news_active {
  border-bottom: 2px solid #666666;
}
@media (max-width:950px){
  .container {
    .keyvisual {
      padding-top: 4px;
      padding-bottom: 35px;
    }
    .company_keyvisual {
      .key_title_main {
        font-size: 32px;
      }
      .key_title_sub {
        font-size: 13px;
        // margin-top: -29px;
      }
      .sp_br {
        margin-top: -4px;
      }
    }
    .title_memver {
      margin-top: 2px;
      margin-bottom: 30px;
    }
  }
  .outline_table {
    display: block;
    
  }
  .outline_table01 {
    width: 100%;
  }
  .outline_table02 {
    width: 100%;
  }
  .outline_table_item {
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .cards {
    display: block;
    margin: 0 auto;
  
    margin-bottom: 0px;
  }
  .card {
    margin-bottom: 52px;
  }
  .section {
    max-width: 295px;
    padding-top: 85px;
    p {
      font-size: 14px;
      letter-spacing: 0;
      line-height: 32px;
      margin-top: 19px;
    }
  }
  .first_what {
    letter-spacing: -0.2px;
  }
  .section_why {
    padding-top: 99px;
    p {
      letter-spacing: 0.77px;
    }
  }
  .section_how {
    padding-top: 97px;
  }
  .wrapper {
    padding-bottom: 119px;
  }
  .outline_table_item {
    font-size: 13px;
    color: $color-dark;
    width: 440px;
    border-top: solid 2px #eeeeee;
    border-bottom: solid 2px #eeeeee;
    padding-top: 40px;
    padding-bottom: 39px;
    .mini_info {
      margin-left: 11px;
      letter-spacing: 0.2px;
    }
    .mini_title {
      // margin-top: 17px;
      padding-left: 44px;
      width: 138px;
      display: inline-block;
    } 
  }
  .container_bg .memver_wrapper {
    margin-bottom: -37px;
  }
  .outline_table02 {
    .outline_table_item {
      margin-right: auto;
    }
  }
}
.xxxxx_page_only {
  border-bottom: solid 2px #fff;
}
.nav_company:after {
  display: none;
}
.header {
  background-color: #f8f8f8;
}
.wrapper {
  margin-top: 105px;
  background-color: #fff;
  padding: 0;
  max-width: 1100px;
}
.keyvisual {
  padding: 90px 0 85px;
  background-image: none;
  .key_title_main {
    margin-bottom: 24px;
    font-size: 50px;
    letter-spacing: 0;
    font-weight: bold;
    font-family: $font-english;
    line-height: 1.39;
  }
  .key_title_sub {
    font-size: 13px;
  }
}
.cards {
  display: flex;
  width: 100%;
  max-width: 1100px;

  margin-bottom: 40px;
}
.card {
  width: 340px;
  margin: 0;
  margin-bottom: 86px;
  .day {
    font-family: $font-english;
    display: block;
    font-size: 13px;
    color: #4fabba;
    margin-bottom: 6px;
    letter-spacing: .7;
  }
  p {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.35;
    line-height: 24px;
    margin-right: -4px;
  }
  img {
    width: 340px;
    height: 255px;
    margin-bottom: 12px;
  }
}
.nav_num {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 160px;
  margin-left: 36px;
  .active {
    color: #4fabba;
  }
  .arrow {
    width: 34px;
    height: auto;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-left: 12px;
    margin-right: -12px;
}
  a {
    font-family: $font-english;
    display: inline-block;
    padding: 0 12px;
    font-size: 24px;
    color: #999999;
  }
}
// .footer {
//   padding-bottom: 40px;
// }
// .footer_nav {
//   padding-bottom: 6px;
// }
// .sns_icon_item .sns_name {
//   letter-spacing: -1px;
//   font-size: 11px;
// }
@media (max-width:1200px){
  .cards {
    display: flex;
    margin-bottom: 0px;
  }
  .card {
    margin: 0 auto;
    margin-bottom: 60px;
  }
}
@media (max-width:950px){
  .keyvisual {
    padding: 90px 0 85px;
    background-image: none;
    .key_title_main {
      margin-bottom: 11px;
      font-size: 32px;
      letter-spacing: 0;
      font-weight: bold;
      font-family: $font-english;
      line-height: 1.39;
      margin-top: 18px;
    }
    .key_title_sub {
      font-size: 13px;
      margin-top: 0;
      letter-spacing: 1px;
    }
    .sp_br {
      margin-top: 1px;
    }
  }
  .container .keyvisual {
    padding-bottom: 40px;
  }
  .wrapper {
    margin-top: 60px;
  }
  .card {
    margin-bottom: 55px;
  }
  .nav_num {
    margin-top: 11px;
  }
}

.xxxxx_page_only {
  border-bottom: solid 2px #fff;
}
.legal_page_only {
  border-bottom: solid 0px #fff;
}
.detail-container {
  background-color: #f8f8f8;
  max-width: 1100px;
  margin: 62px auto 0;
}
.detail-content {
  padding: 40px 100px 36px;
  background-color: #fff;
  .day {
    color: #4fabba;
    margin-bottom: 14px;
    font-size: 10px;
  }
  h3 {
    padding-bottom: 35px;
    border-bottom: solid 4px #eeeeee;
    margin-bottom: 50px;
    letter-spacing: 0;
  }
  img {
    width: 100%;
    height: 556px;
    //実際の写真ではこの指定では歪んでしまうので、あとで修正！
    margin-bottom: 49px;
  }
  p {
    font-size: 11px;
    line-height: 24px;
    margin-right: -3px;
    letter-spacing: 1.32;
  }
  .useful_infomation_section {
    margin-bottom: 51px;
    h4 {
      font-size: 15px;
      line-height: 28px;
      color: $color-dark;
      margin-block-start: 0;
      margin-block-end: 0;
      margin-bottom: 15px;
      letter-spacing: 1.55;
    }
    p {
      font-size: 11px;
      line-height: 24px;
      color: #333;
      margin-right: -3px;
      letter-spacing: 1.32;
    }
    br {
      display: block;
      content: "";
      padding-top: 16px;
    }
  }
}

.share_on {
  height: 120px;
  padding: 58px 105px 36px;
  background-color: #fff;
  display: flex;
  // align-items: center;
  justify-content: flex-end;
  span {
    position: relative;
    top: -12px;
    color: #999999;
    font-family: $font-english;
    font-size: 13px;
    margin-right: -1px;
    letter-spacing: 0.76;
  }
  
  .sns_icon_item {
    margin-right: 0px;
    // margin-bottom: -15px;
    img {
      height: 25px;
      width: 25px;
      margin-left: 15px;
      margin-top: 8px;
    }
  }
}
.detail-title {
  font-size: 34px;
  line-height: 50px;
  color: $color-dark;
}
.keyvisual {
  padding-bottom: 91px;
  .key_title_main {
    margin-top: 0px;
    margin-bottom: 33px;
  }
  .key_title_sub {
    margin-top: 0px;
    letter-spacing: 1px;
  }
}
.container {
  padding-bottom: 135px;
}

@media (max-width:950px){
  .detail-content {
    padding: 58px 26px 44px;
    background-color: #fff;
  }
  .share_on {
    padding: 27px 25px 176px;
  }
  .container {
    .keyvisual {
      padding-top: 22px;
      padding-bottom: 49px;
      .key_title_main {
        margin-bottom: 18px;
      }
    }
  }
  .detail-container {
    margin: 0 auto 0;
  }
  .detail-content {
    padding: 58px 20px 44px;
    .day {
      font-size: 12px;
      font-family: $font-english;
      letter-spacing: 1.2px;
      margin-bottom: 18px;
    }
    img {
      height: 206px;
      margin-bottom: 21px;
    }
    p {
      font-size: 12px;
    }
    h3 {
      line-height: 36px;
      padding-bottom: 22px;
      font-size: 24px;
      border-bottom: 4px solid #eee;
      margin-bottom: 36px;
      letter-spacing: 0;
    }
    .useful_infomation_section{
      margin-bottom: 18px;
      h4 {
        font-size: 18px;
        margin-right: -6px;
        letter-spacing: 1.56px;
        margin-bottom: 18px;
      }
      p {
        letter-spacing: 0.7;
        font-size: 13px;
      }
    }
    .useful_infomation_section02 {
      margin-bottom: 25px;
    }
    p {
      letter-spacing: 2.1px;
    }
    .detail-title {
      letter-spacing: 1.82;
    }
  }
  .container {
    padding-bottom: 3px;
  }
}
.detail-container {
  background-color: #f8f8f8;
  max-width: 1100px;
  margin: 0 auto 0;
}
.header {
  background-color: #EEEEEE;
}
.keyvisual {
  background-color: #EEEEEE;
  padding: 90px 0 85px;
  background-image: none;
  .key_title_main {
    margin-bottom: 24px;
    font-size: 50px;
    letter-spacing: 0;
    font-weight: bold;
    font-family: $font-english;
    line-height: 1.39;
  }
  .key_title_sub {
    font-size: 13px;
  }
}
.container {
  background-color: #f8f8f8;
  padding-bottom: 0px;
}

.news_container {
  max-width: 900px;
  margin: 0 auto;
}
.news_cntents {
  margin-top: 80px;
  font-weight: bold;
  // margin-right: 20px;
  // margin-left: 20px;
}
.news_cntents:first-child {
  border-top: solid #eeeeee 4px;
}
.a_news {
  width: 100%;
  display: inline-block;
  font-size: 13px;
  border-bottom: solid #eeeeee 4px;
  // text-align: center;
  text-align: center;
  p {
    display: inline-block;
    padding-top: 41px;
    padding-bottom: 37.6px;
    text-align: left;
    line-height: 24px;
  }
}
.nav_num {
  background: #f8f8f8;
  margin-top: 66px;
  padding-bottom: 157px;
  margin-bottom: 0;
  a {
    font-size: 24px;
    
  }
}
.news_active {
  padding-bottom: 8px;
  border-bottom: $color-dark solid 2px;
}
@media (max-width:950px){
  .news_container {
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
  }
  .nav_num {
    margin-top: 39px;
    padding-bottom: 144px;
  }
  .a_news {
    p {
      // padding-top: 30px;
      padding-bottom: 22px;
      padding-top: 25px;
      margin-left: 10px;
      font-weight: bold;
      letter-spacing: 0.7px;
    }
  }
  .keyvisual {
    padding: 90px 0 85px;
    background-image: none;
    .key_title_main {
      margin-bottom: 11px;
      font-size: 32px;
      letter-spacing: 0;
      font-weight: bold;
      font-family: $font-english;
      line-height: 1.39;
      margin-top: 24px;
    }
    .key_title_sub {
      font-size: 13px;
      margin-top: 0;
      letter-spacing: 1px;
    }
  }
  .container .keyvisual {
    padding-top: 22px;
    padding-bottom: 63px;
}
.news_cntents {
  margin-top: 52px;
}
}
