header.header
  include _variables.pug
  div.header-inner
    div.header-logo
      if pageID === 'top'
        h1
          img(src="/img/anti-pattern_logo.svg", alt="株式会社アンチパターン")
      else 
        a(href="/")
          img(src="/img/anti-pattern_logo.svg", alt="株式会社アンチパターン")
    nav.header-nav 
      ul.header-nav-list
        - for (var x = 0; x < pages.length; x++)
          if pages[x]['pageDir']==pageID
            li.header-nav-item.is-current: a(href='/'+pages[x]['pageDir']+'/') #{pages[x]['pageName']}
          else
            li.header-nav-item: a(href='/'+pages[x]['pageDir']+'/') #{pages[x]['pageName']}
    div.header-contact
      a(href="https://docs.google.com/forms/d/e/1FAIpQLSd0kJB1wJCNdXCi9NDz9OTKuuBllPPylh_jTCNaVZfSdra2RQ/viewform").rounded-btn お問い合わせ

    button.header-hamburger#js-gnav-link
      span.header-hamburger-line.-top
      span.header-hamburger-line.-bottom
    nav.header-gnav#js-gnav
      .header-gnav-logo
        a(href="#")
          img(src="/img/anti-pattern_logo_white.svg", alt="株式会社アンチパターン")
      .header-gnav-inner
        ul.header-gnav-list
          - for (var x = 0; x < gnav.length; x++)
            if gnav[x]['pageDir'] == 'contact'
              li.header-gnav-item(class='-'+gnav[x]['pageDir']): a(href='https://docs.google.com/forms/d/e/1FAIpQLSd0kJB1wJCNdXCi9NDz9OTKuuBllPPylh_jTCNaVZfSdra2RQ/viewform') #{gnav[x]['pageName']}
            else
              li.header-gnav-item(class='-'+gnav[x]['pageDir']): a(href='/'+gnav[x]['pageDir']+'/') #{gnav[x]['pageName']}
