-
  var pages = [
    {
      pageName: 'サービス',
      pageDir: 'services'
    },
    {
      pageName: '会社概要',
      pageDir: 'company'
    },
    {
      pageName: 'ニュース',
      pageDir: 'news'
    }
  ]

-
  var gnav = [
    {
      pageName: 'サービス',
      pageDir: 'services',
    },
    {
      pageName: '会社概要',
      pageDir: 'company'
    },
    {
      pageName: 'ニュース',
      pageDir: 'news'
    },
    {
      pageName: 'お問い合わせ',
      pageDir: 'contact'
    },
    {
      pageName: '個人情報の取り扱い等',
      pageDir: 'legal'
    },
    {
      pageName: 'お役立ち情報',
      pageDir: 'useful_information'
    },
  ]
