extends ./_includes/_layout_top.pug

append variables
  //- Required
  - var pageID = "";
  - var pageTitle = "";
  - var pageDescription = site.description;
  //- Optional
  - var pageOgpImage = site.ogpImage
  - var pageOgpType = "website";


block styles
  link(rel="stylesheet" type="text/css" href="/css/pages/index.min.css")

block content
  .keyvisual_wrapper
    section.keyvisual
      .keyvisual_inner
        p.keyvisual_text
          span.key_title_sub 日本の
            |
            span.sp_br ソフトウェアエンジニアを
          span.key_title_main 憧れの職業へ
        //- span.keyvisual_box00
        
        span.box_base.keyvisual_box02.box_grey
        span.box_base.keyvisual_box03.box_brown
        span.box_base.keyvisual_box04.box_blue
        span.box_base.keyvisual_box05.box_light_blue
        span.box_base.keyvisual_box06.box_red
        span.box_base.keyvisual_box07.box_light_blue
        span.box_base.keyvisual_box09.box_grey
        span.box_base.keyvisual_box10.box_red
        //- span.keyvisual_box11
      span.box_base.keyvisual_box08.box_blue
      span.box_base.keyvisual_box01.box_light_blue
  .background_wrapper
    div.background
      div.wrapper
        div.top_ourService
          h3.top_ourService_box02.box_light_blue.box_base OUR SERVICES
          //- h3 OUR SERVICE
          p.top_ourService_box01.box_blue.box_base 理念実現に向けて
            span.ten_pc 、
            |
            span.sp_br 様々な事業を展開しています。
          div.service_imgs
            span.sp_br
              img(src="../img/gateway.png" alt="gateway").gateway_img_sizing
              img(src="/img/engineed.svg", alt="engineed").top_engineed_img
              img(src="/img/nitro.svg", alt="NITRO").top_nitro_img
            span.sp_br
              img(src="/img/posse.svg", alt="POSSE",).top_posse_img
              img(src="/img/harbors.svg", alt="HarborS").top_harbors_img
              img(src="/img/extendsLogo_420.png", alt="extends").top_extends_img
          div.service_imgs_sp
            span.sp_br
              img(src="../img/gateway.png" alt="gateway").gateway_img_sizing
              img(src="/img/engineed.svg", alt="engineed").top_engineed_img
              img(src="/img/nitro.svg", alt="NITRO").top_nitro_img
            span.sp_br
              img(src="/img/posse.svg", alt="POSSE",).top_posse_img
              img(src="/img/harbors.svg", alt="HarborS").top_harbors_img
              img(src="/img/extendsLogo_420.png", alt="extends").top_extends_img
          a(href="/services").arrow_underbar
              span VIEW DETAILS
              img(src="/img/arrow.svg", alt="").arrow
        //- div.top_news
        //-   .top_news_img
        //-     img(src="img/top_news.jpg", alt="")
        //-     span.box_base.img_box01.box_light_blue
        //-   .top_news_main
        //-     h3.bule NEWS
        //-     ul.posts
        //-       li.vertical-posts_item
        //-         .vrtical_posts_header
        //-           a.certical_posts_title(href="/news/detail/") テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
        //-       li.vertical-posts_item
        //-         .vrtical_posts_header
        //-           a.certical_posts_title(href="/news/detail/") テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
        //-       li.vertical-posts_item.vertical-posts_item03
        //-         .vrtical_posts_header
        //-           a.certical_posts_title(href="/news/detail/") テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
        //-     .view_all_cace
        //-       a(href="/news").view_all
        //-         span.arrow_underbar VIEW ALL
        //-         img(src="img/arrow.svg", alt="").arrow
        //-   span.img_box02.box_base.box_grey
        //-   span.img_box03.box_base.box_red
        //-   span.img_box04.box_base.box_light_blue
        //-   span.img_box05.box_base.box_blue
        div.vision
          h2 BRINGING JAPANESE 
            |
            span.sp_br SOFTWARE ENGINEERING 
            |
            span.sp_br TO THE 
            |
            span.sp_br NEXT ASPIRATIONAL 
            |
            span.sp_br OCCUPATION
        div.top_ourCustomer
          h3 OUR CUSTOMERS
          .top_ourCustomer_imgs
            .innovation_imgbox
              div.img_cace
                img(src="img/innovation_logo.png", alt="INNOVATION", srcset="")
            .mercury_imgbox
              div.img_cace
                img(src="img/mercury_logo.png", alt="MERCURY", srcset="").mercury_img
      .recruit
        .filter
          h4 RECRUIT
          span.pc_recruit_text
            p 私たちは一緒に理念達成に向けて活動してくれる仲間を探しています。
          span.sp_recruit_text
            p 私たちは一緒に理念達成に向けて活動してくれる仲間を探しています。
          a(href="https://www.wantedly.com/companies/company_9083588",target="_blank").rounded-btn WANTEDLY
        span.recruit_box01.box_base.box_light_blue
        span.recruit_box02.box_base.box_red
        span.recruit_box03.box_base.box_brown
        span.recruit_box04.box_base.box_blue
        span.recruit_box05.box_base.box_red
        span.recruit_box06.box_base.box_light_blue
        //- span.top_ourService_box01

