extends ../../_includes/_layout.pug

append variables
  //- Required
  - var pageID = "news";
  - var pageTitle = "ニュース";
  - var pageDescription = site.description;
  //- Optional
  - var pageOgpImage = site.ogpImage
  - var pageOgpType = "article";

block styles
  link(rel="stylesheet" type="text/css" href="../../../css/pages/detail_news.min.css")

block content
  section.keyvisual.top_keyvisual
    p
      span.key_title_main NEWS
      |
      span.key_title_sub お知らせ
  .useful_infomation_container
    .useful_infomation_cace
      h3.useful_infomation_title タイトルが入りますタイトルが入りますタイトルが入りますタイトルが入ります
      img(src="/img/photo_dummy.png", alt="dummy")
      .useful_infomation_section
        h4 hタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入ります
        p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますが入りますテキストが入ります
      .useful_infomation_section
        h4 hタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入ります
        p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますが入りますテキストが入ります
        br
        p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますが入りますテキストが入ります
      .useful_infomation_section.useful_infomation_section02
        img(src="/img/photo_dummy.png", alt="dummy")
        p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますが入りますテキストが入ります
