extends ../_includes/_layout.pug

append variables
  //- Required
  - var pageID = "useful_information";
  - var pageTitle = "お役立ち情報";
  - var pageDescription = site.description;
  //- Optional
  - var pageOgpImage = site.ogpImage
  - var pageOgpType = "article";
  
block styles
  link(rel="stylesheet" type="text/css" href="../css/pages/useful_infomation.min.css")


block content
  section.keyvisual
    p
      span.key_title_main USEFUL 
        |
        span.sp_br INFORMATION
      |
      span.key_title_sub お役立ち情報
  .wrapper
    .cards
      .card
        a(href="/useful_infomation/detail/")
          img(src="/img/photo_dummy.png", alt="dummy")
          span.day 2020.11.01
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入り…（60文字まで）
      .card
        a(href="/useful_infomation/detail/")
          img(src="/img/photo_dummy.png", alt="dummy")
          span.day 2020.10.24
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入り…（60文字まで）
      .card
        a(href="/useful_infomation/detail/")
          img(src="/img/photo_dummy.png", alt="dummy")
          span.day 2020.10.24
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入り…（60文字まで）
      .card
        a(href="/useful_infomation/detail/")
          img(src="/img/photo_dummy.png", alt="dummy")
          span.day 2020.10.24
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入り…（60文字まで）
      .card
        a(href="/useful_infomation/detail/")
          img(src="/img/photo_dummy.png", alt="dummy")
          span.day 2020.10.24
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入り…（60文字まで）
      .card
        a(href="/useful_infomation/detail/")
          img(src="/img/photo_dummy.png", alt="dummy")
          span.day 2020.10.24
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入り…（60文字まで）
      .card
        a(href="/useful_infomation/detail/")
          img(src="/img/photo_dummy.png", alt="dummy")
          span.day 2020.10.24
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入り…（60文字まで）
      .card
        a(href="/useful_infomation/detail/")
          img(src="/img/photo_dummy.png", alt="dummy")
          span.day 2020.10.24
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入り…（60文字まで）
      .card
        a(href="/useful_infomation/detail/")
          img(src="/img/photo_dummy.png", alt="dummy")
          span.day 2020.10.24
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入り…（60文字まで）
      .card
        a(href="/useful_infomation/detail/")
          img(src="/img/photo_dummy.png", alt="dummy")
          span.day 2020.10.24
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入り…（60文字まで）
      .card
        a(href="/useful_infomation/detail/")
          img(src="/img/photo_dummy.png", alt="dummy")
          span.day 2020.10.24
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入り…（60文字まで）
      .card
        a(href="/useful_infomation/detail/")
          img(src="/img/photo_dummy.png", alt="dummy")
          span.day 2020.10.24
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入り…（60文字まで）
          //- 今の並べ方だと、最後のカードの行が二枚の場合かっこ悪い表示になる
    .nav_num
      a(href="#").active 1
      a(href="#") 2
      a(href="#") 3
      img(src="/img/arrow_brack.svg", alt="arrow", class="arrow")
      span.arrow
