extends ../../_includes/_layout.pug

append variables
  //- Required
  - var pageID = "useful_information";
  - var pageTitle = "お役立ち情報";
  - var pageDescription = site.description;
  //- Optional
  - var pageOgpImage = site.ogpImage
  - var pageOgpType = "article";

block styles
  link(rel="stylesheet" type="text/css" href="../../../css/pages/detail.min.css")



block content
  section.keyvisual
    p
      span.key_title_main USEFUL 
        |
        span.sp_br INFORMATION
      |
      span.key_title_sub お役立ち情報
  .useful_infomation_container
    .useful_infomation_cace
      .day 2020.10.24
      h3.useful_infomation_title タイトルが入りますタイトルが入りますタイトルが入りますタイトルが入ります
      img(src="/img/photo_dummy.png", alt="dummy")
      .useful_infomation_section
        h4 hタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入ります
        p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますが入りますテキストが入ります
      .useful_infomation_section.useful_infomation_section02
        h4 hタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入ります
        p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますが入りますテキストが入ります
        br
        p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますが入りますテキストが入ります
      img(src="/img/photo_dummy.png", alt="dummy")
      p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますが入りますテキストが入ります
    .share_on
      span SHARE ON
      span.sns_icons
        span.sns_icon_item
          img(src="../../img/fb-g.png", alt="Facebook")
        span.sns_icon_item
          img(src="../../img/tw-g.png", alt="Twitter")
        span.sns_icon_item
          img(src="../../img/li-g.png", alt="LinkedIn")
