/* line 67, src/scss/_variables.scss */
.box_base:after {
  position: absolute;
  content: '';
  display: inline-block;
  z-index: 0;
}

/* line 73, src/scss/_variables.scss */
.box_red:after {
  background-color: #ED644C;
}

/* line 76, src/scss/_variables.scss */
.box_light_blue:after {
  background-color: #4FABBA;
}

/* line 79, src/scss/_variables.scss */
.box_blue:after {
  background-color: #4C83ED;
}

/* line 82, src/scss/_variables.scss */
.box_brown:after {
  background-color: #C39682;
}

/* line 85, src/scss/_variables.scss */
.box_grey:after {
  background-color: #454A54;
}

/* line 67, src/scss/_variables.scss */
.box_base:after {
  position: absolute;
  content: '';
  display: inline-block;
  z-index: 0;
}

/* line 73, src/scss/_variables.scss */
.box_red:after {
  background-color: #ED644C;
}

/* line 76, src/scss/_variables.scss */
.box_light_blue:after {
  background-color: #4FABBA;
}

/* line 79, src/scss/_variables.scss */
.box_blue:after {
  background-color: #4C83ED;
}

/* line 82, src/scss/_variables.scss */
.box_brown:after {
  background-color: #C39682;
}

/* line 85, src/scss/_variables.scss */
.box_grey:after {
  background-color: #454A54;
}

/* boxes
--------------------------------------------------------------*/
/* line 6, src/scss/pages/company.scss */
.box09:after {
  right: 56px;
  top: 2271px;
  padding-top: 6.5%;
  width: 6.5%;
}

@media screen and (max-width: 767px) {
  /* line 6, src/scss/pages/company.scss */
  .box09:after {
    left: 20px;
    top: 2174px;
    padding-top: 10.5%;
    width: 10.5%;
  }
}

/* line 19, src/scss/pages/company.scss */
.box08:after {
  right: 0;
  top: 2157px;
  padding-top: 12.5%;
  width: 9%;
}

@media screen and (max-width: 767px) {
  /* line 19, src/scss/pages/company.scss */
  .box08:after {
    left: -28px;
    top: 2120px;
    padding-top: 20%;
    width: 20%;
  }
}

/* line 32, src/scss/pages/company.scss */
.box07:after {
  left: 78px;
  top: 1400px;
  padding-top: 5%;
  width: 5%;
}

@media screen and (max-width: 767px) {
  /* line 32, src/scss/pages/company.scss */
  .box07:after {
    left: -25px;
    top: 1493px;
    padding-top: 10.4%;
    width: 10.4%;
  }
}

/* line 45, src/scss/pages/company.scss */
.box06:after {
  right: 71px;
  top: 1188px;
  padding-top: 6.5%;
  width: 6.5%;
}

@media screen and (max-width: 767px) {
  /* line 45, src/scss/pages/company.scss */
  .box06:after {
    right: 24px;
    top: 977px;
    padding-top: 13.5%;
    width: 13.5%;
  }
}

/* line 58, src/scss/pages/company.scss */
.box05:after {
  right: 0px;
  top: 1220px;
  padding-top: 11%;
  width: 8.4%;
}

@media screen and (max-width: 767px) {
  /* line 58, src/scss/pages/company.scss */
  .box05:after {
    right: 0px;
    top: 917px;
    padding-top: 23%;
    width: 13%;
  }
}

/* line 71, src/scss/pages/company.scss */
.box04:after {
  left: 33px;
  top: 746px;
  padding-top: 6%;
  width: 6%;
}

@media screen and (max-width: 767px) {
  /* line 71, src/scss/pages/company.scss */
  .box04:after {
    left: -41px;
    top: 746px;
    padding-top: 30%;
    width: 30%;
  }
}

/* line 84, src/scss/pages/company.scss */
.box03:after {
  left: 106px;
  top: 846px;
  padding-top: 4%;
  width: 4%;
}

@media screen and (max-width: 767px) {
  /* line 84, src/scss/pages/company.scss */
  .box03:after {
    display: none;
  }
}

/* line 94, src/scss/pages/company.scss */
.box02:after {
  right: 90px;
  top: 289px;
  padding-top: 11%;
  width: 11%;
}

@media screen and (max-width: 767px) {
  /* line 94, src/scss/pages/company.scss */
  .box02:after {
    right: 40px;
    top: 218px;
    padding-top: 15.6%;
    width: 15.6%;
  }
}

/* line 107, src/scss/pages/company.scss */
.box01:after {
  z-index: 10;
  right: 47px;
  top: 251px;
  padding-top: 6.5%;
  width: 6.5%;
}

@media screen and (max-width: 767px) {
  /* line 107, src/scss/pages/company.scss */
  .box01:after {
    right: 21px;
    top: 202px;
    padding-top: 9.2%;
    width: 9.2%;
  }
}

/* line 121, src/scss/pages/company.scss */
.wrapper {
  max-width: 1198px;
  margin: 0 auto;
  padding: 0 60px;
}

/* line 127, src/scss/pages/company.scss */
.wrapper {
  max-width: 1220px;
  background: #fff;
  padding-bottom: 95px;
}

/* line 133, src/scss/pages/company.scss */
.container_bg {
  padding-top: 134px;
  position: relative;
  display: inline-block;
}

/* line 137, src/scss/pages/company.scss */
.container_bg .pc_img {
  margin-bottom: 38px;
}

@media (max-width: 950px) {
  /* line 143, src/scss/pages/company.scss */
  .wrapper {
    padding-bottom: 64px;
  }
  /* line 146, src/scss/pages/company.scss */
  .keyvisual {
    padding-top: 19px;
    padding-bottom: 63px;
  }
  /* line 149, src/scss/pages/company.scss */
  .keyvisual .key_title_main {
    font-size: 32px;
    display: block;
  }
  /* line 153, src/scss/pages/company.scss */
  .keyvisual .key_title_sub {
    font-size: 13px;
    margin-top: 13px;
  }
  /* line 158, src/scss/pages/company.scss */
  .top_ourService01 {
    margin-bottom: 27px;
    margin-top: 48px;
  }
  /* line 162, src/scss/pages/company.scss */
  .top_ourService {
    padding-top: 120px;
  }
  /* line 164, src/scss/pages/company.scss */
  .top_ourService h3 {
    margin-bottom: 0px;
  }
  /* line 168, src/scss/pages/company.scss */
  .container_bg {
    padding-top: 27px;
  }
  /* line 171, src/scss/pages/company.scss */
  .serviselist {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* line 175, src/scss/pages/company.scss */
  .pc_img {
    display: none;
  }
  /* line 178, src/scss/pages/company.scss */
  .sp_img {
    display: block;
    width: 65%;
    text-align: center;
    height: auto;
  }
  /* line 184, src/scss/pages/company.scss */
  .servise_img {
    height: 32vw;
    width: 100%;
  }
  /* line 188, src/scss/pages/company.scss */
  .servise_text {
    width: 100%;
  }
  /* line 190, src/scss/pages/company.scss */
  .servise_text h4 {
    margin-top: 21px;
  }
  /* line 193, src/scss/pages/company.scss */
  .servise_text p {
    margin-bottom: 14px;
  }
  /* line 197, src/scss/pages/company.scss */
  .community_support {
    margin-bottom: 72px;
  }
  /* line 199, src/scss/pages/company.scss */
  .community_support .matchting {
    margin-bottom: 66px;
    letter-spacing: 0.6;
  }
  /* line 203, src/scss/pages/company.scss */
  .community_support .posse {
    margin-bottom: 62px;
  }
  /* line 206, src/scss/pages/company.scss */
  .community_support .title {
    margin-top: 48px;
    margin-bottom: 27px;
    font-size: 13px;
    text-align: center;
    letter-spacing: 2.6px;
  }
  /* line 213, src/scss/pages/company.scss */
  .community_support .skill_up {
    margin-bottom: 29px;
    font-size: 13px;
    margin-top: -2px;
    text-align: center;
    letter-spacing: 1px;
  }
  /* line 221, src/scss/pages/company.scss */
  .servise_img {
    height: 46vw;
    max-width: 530.5px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: solid 1px #E5E5E5;
  }
  /* line 230, src/scss/pages/company.scss */
  .servise_img img {
    height: auto;
  }
  /* line 233, src/scss/pages/company.scss */
  .servise_img .harbors_img_sizing {
    max-width: 115px;
    width: 80%;
  }
  /* line 237, src/scss/pages/company.scss */
  .servise_img .posse_img_sizing {
    max-width: 147.5px;
    width: 80%;
  }
  /* line 241, src/scss/pages/company.scss */
  .servise_img .extends_img_sizing {
    max-width: 130.5px;
    width: 80%;
  }
  /* line 245, src/scss/pages/company.scss */
  .servise_img .enjineed_img_sizing {
    max-width: 186px;
    width: 80%;
  }
  /* line 249, src/scss/pages/company.scss */
  .servise_img .nitoro_img_sizing {
    max-width: 119.5px;
    width: 80%;
  }
  /* line 253, src/scss/pages/company.scss */
  .servise_img .gateway_img_sizing {
    margin-top: -7px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 4px;
  }
}

/* line 262, src/scss/pages/company.scss */
.section {
  position: relative;
  z-index: 50;
  padding-top: 124px;
  margin: 0 auto;
  max-width: 800px;
}

/* line 268, src/scss/pages/company.scss */
.section h3 {
  font-family: "nobel-bold", "Noto Sans JP", sans-serif, "Lato", sans-serif;
  color: #4fabba;
  font-size: 24px;
  letter-spacing: 0;
}

/* line 274, src/scss/pages/company.scss */
.section p {
  margin-top: 27px;
  font-size: 18px;
  line-height: 44px;
  color: #00282e;
  font-weight: bold;
  letter-spacing: 0px;
}

/* line 283, src/scss/pages/company.scss */
.outline_table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 64px;
}

/* line 289, src/scss/pages/company.scss */
.outline_table_item:last-child {
  border-bottom: solid 2px #eeeeee;
}

/* line 293, src/scss/pages/company.scss */
.outline_table_item {
  font-size: 13px;
  font-weight: bold;
  color: #00282e;
  width: 100%;
  border-top: solid 2px #eeeeee;
  padding-top: 41px;
  padding-bottom: 39px;
}

/* line 301, src/scss/pages/company.scss */
.outline_table_item .mini_info {
  display: inline-block;
  margin-left: 11px;
  letter-spacing: 0.2px;
}

/* line 306, src/scss/pages/company.scss */
.outline_table_item .mini_title {
  padding-left: 24px;
  width: 100px;
  display: inline-block;
}

/* line 313, src/scss/pages/company.scss */
.Anti-Pattern,
.minowa,
.ceo_english_name,
.outline_table_item_sns .mini_info,
.outline_table_item_capital .mini_info,
.outline_table_item_day .mini_info {
  font-family: "nobel-bold", "Noto Sans JP", sans-serif, "Lato", sans-serif;
}

/* line 321, src/scss/pages/company.scss */
.outline_table01 {
  width: 47%;
}

/* line 324, src/scss/pages/company.scss */
.outline_table02 {
  width: 47%;
}

/* line 326, src/scss/pages/company.scss */
.outline_table02 .outline_table_item {
  margin-right: -15px;
}

@media (max-width: 950px) {
  /* line 334, src/scss/pages/company.scss */
  .container .keyvisual {
    padding-top: 4px;
    padding-bottom: 35px;
  }
  /* line 339, src/scss/pages/company.scss */
  .container .company_keyvisual .key_title_main {
    font-size: 32px;
  }
  /* line 342, src/scss/pages/company.scss */
  .container .company_keyvisual .key_title_sub {
    font-size: 13px;
  }
  /* line 345, src/scss/pages/company.scss */
  .container .company_keyvisual .sp_br {
    margin-top: -4px;
  }
  /* line 349, src/scss/pages/company.scss */
  .container .title_member {
    margin-top: -29px;
    margin-bottom: 30px;
  }
  /* line 354, src/scss/pages/company.scss */
  .outline_table {
    display: block;
  }
  /* line 358, src/scss/pages/company.scss */
  .outline_table01 {
    width: 100%;
  }
  /* line 361, src/scss/pages/company.scss */
  .outline_table02 {
    width: 100%;
  }
  /* line 364, src/scss/pages/company.scss */
  .outline_table_item {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* line 370, src/scss/pages/company.scss */
  .section {
    max-width: 80%;
    padding-top: 85px;
  }
  /* line 373, src/scss/pages/company.scss */
  .section p {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: 20px;
  }
  /* line 380, src/scss/pages/company.scss */
  .first_what {
    letter-spacing: -0.2px;
  }
  /* line 383, src/scss/pages/company.scss */
  .section_why {
    padding-top: 99px;
  }
  /* line 385, src/scss/pages/company.scss */
  .section_why p {
    letter-spacing: 0px;
    margin-left: 3px;
  }
  /* line 390, src/scss/pages/company.scss */
  .section_how {
    padding-top: 94px;
  }
  /* line 393, src/scss/pages/company.scss */
  .wrapper {
    padding-bottom: 151px;
  }
  /* line 396, src/scss/pages/company.scss */
  .outline_table_item:last-child {
    border-bottom: solid 2px #eeeeee;
  }
  /* line 399, src/scss/pages/company.scss */
  .outline_table_item {
    font-size: 13px;
    color: #00282e;
    width: 90%;
    border-top: solid 2px #eeeeee;
    padding-top: 31px;
    padding-bottom: 30px;
    font-weight: bold;
  }
  /* line 407, src/scss/pages/company.scss */
  .outline_table_item .mini_info {
    margin-left: 6px;
    letter-spacing: 0.2px;
  }
  /* line 410, src/scss/pages/company.scss */
  .outline_table_item .mini_info .Anti-Pattern {
    font-size: 13px;
    font-weight: bold;
    margin-top: 4px;
    display: inline-block;
    letter-spacing: -0.1px;
  }
  /* line 418, src/scss/pages/company.scss */
  .outline_table_item .mini_title {
    padding-left: 43px;
    width: 138px;
    display: inline-block;
  }
  /* line 425, src/scss/pages/company.scss */
  .outline_table_item_day {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  /* line 428, src/scss/pages/company.scss */
  .outline_table_item_day .mini_info {
    font-size: 13px;
  }
  /* line 432, src/scss/pages/company.scss */
  .outline_table_item_ceo {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  /* line 435, src/scss/pages/company.scss */
  .outline_table_item_ceo .mini_info {
    font-size: 13px;
  }
  /* line 437, src/scss/pages/company.scss */
  .outline_table_item_ceo .mini_info .ceo_english_name {
    font-size: 13px;
    display: inline-block;
    margin-left: 3px;
    letter-spacing: 0.2px;
  }
  /* line 446, src/scss/pages/company.scss */
  .outline_table_item_address {
    padding-top: 30px;
    padding-bottom: 28px;
  }
  /* line 449, src/scss/pages/company.scss */
  .outline_table_item_address .mini_info {
    letter-spacing: 0;
    font-size: 13px;
  }
  /* line 452, src/scss/pages/company.scss */
  .outline_table_item_address .mini_info .address_num {
    font-size: 13px;
  }
  /* line 455, src/scss/pages/company.scss */
  .outline_table_item_address .mini_info .minowa {
    font-size: 13px;
    margin-top: 4px;
    display: inline-block;
    letter-spacing: 0.4px;
  }
  /* line 463, src/scss/pages/company.scss */
  .outline_table_item_phone {
    padding-top: 39px;
    padding-bottom: 41px;
  }
  /* line 466, src/scss/pages/company.scss */
  .outline_table_item_phone .mini_info {
    display: inline-block;
    margin-left: 7px;
    margin-bottom: 2px;
    letter-spacing: 0.4px;
    font-size: 13px;
  }
  /* line 474, src/scss/pages/company.scss */
  .outline_table_item_member {
    padding-top: 41px;
    padding-bottom: 41px;
  }
  /* line 477, src/scss/pages/company.scss */
  .outline_table_item_member .mini_info {
    letter-spacing: 0;
    font-size: 13px;
    display: inline-block;
    margin-left: 9px;
  }
  /* line 484, src/scss/pages/company.scss */
  .outline_table_item_capital {
    padding-top: 39px;
    padding-bottom: 41px;
  }
  /* line 487, src/scss/pages/company.scss */
  .outline_table_item_capital .mini_info {
    letter-spacing: 0;
    font-size: 13px;
    display: inline-block;
    margin-left: 6px;
  }
  /* line 494, src/scss/pages/company.scss */
  .outline_table_item_main_plant_owner {
    padding-top: 39px;
    padding-bottom: 41px;
  }
  /* line 497, src/scss/pages/company.scss */
  .outline_table_item_main_plant_owner .mini_info {
    letter-spacing: 0;
    font-size: 13px;
    display: inline-block;
    margin-left: 6px;
  }
  /* line 504, src/scss/pages/company.scss */
  .outline_table_item_sns {
    padding-top: 39px;
    padding-bottom: 41px;
  }
  /* line 507, src/scss/pages/company.scss */
  .outline_table_item_sns .mini_info {
    display: inline-block;
    margin-left: 7px;
    margin-bottom: 2px;
    letter-spacing: 0.4px;
    font-size: 13px;
  }
  /* line 515, src/scss/pages/company.scss */
  .outline_table_item_dispatch {
    padding-top: 39px;
    padding-bottom: 41px;
  }
  /* line 518, src/scss/pages/company.scss */
  .outline_table_item_dispatch .mini_info {
    display: inline-block;
    margin-left: 7px;
    margin-bottom: 2px;
    letter-spacing: 0.4px;
    font-size: 13px;
  }
  /* line 526, src/scss/pages/company.scss */
  .outline_table_item_employment_placement {
    padding-top: 39px;
    padding-bottom: 41px;
  }
  /* line 529, src/scss/pages/company.scss */
  .outline_table_item_employment_placement .mini_info {
    display: inline-block;
    margin-left: 7px;
    margin-bottom: 2px;
    letter-spacing: 0.4px;
    font-size: 13px;
  }
  /* line 538, src/scss/pages/company.scss */
  .container_bg .member_wrapper {
    margin-bottom: -37px;
  }
  /* line 542, src/scss/pages/company.scss */
  .outline_table01 .outline_table_item:last-child {
    border-bottom: solid 0px #eeeeee;
  }
  /* line 547, src/scss/pages/company.scss */
  .outline_table02 .outline_table_item {
    margin-right: auto;
  }
  /* line 551, src/scss/pages/company.scss */
  .center_shifter {
    margin-right: auto;
    margin-left: auto;
    width: 313px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 400px) {
  /* line 560, src/scss/pages/company.scss */
  .section {
    max-width: 295px;
  }
  /* line 564, src/scss/pages/company.scss */
  .center_shifter {
    margin-left: -17px;
    width: 313px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1192px) {
  /* line 572, src/scss/pages/company.scss */
  .servise_img, .servise_text {
    margin-right: auto;
    margin-left: auto;
  }
}

/* line 580, src/scss/pages/company.scss */
.company-wrapper {
  padding: 0 0 170px;
  overflow: hidden;
}

/* line 585, src/scss/pages/company.scss */
.company-section {
  padding: 0 40px;
  position: relative;
}

@media screen and (max-width: 949px) {
  /* line 585, src/scss/pages/company.scss */
  .company-section {
    padding: 0 20px;
  }
}

/* line 594, src/scss/pages/company.scss */
.company-section-inner {
  max-width: 930px;
  margin: 0 auto;
}

/* line 599, src/scss/pages/company.scss */
.company-background-container {
  background: #f8f8f8;
  padding: 120px 0 336px;
}

@media screen and (max-width: 767px) {
  /* line 599, src/scss/pages/company.scss */
  .company-background-container {
    padding: 82px 0 282px;
  }
}

/* line 608, src/scss/pages/company.scss */
.company-member {
  margin-top: -162px;
}

@media screen and (min-width: 768px) {
  /* line 612, src/scss/pages/company.scss */
  .company-member-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -45px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  /* line 612, src/scss/pages/company.scss */
  .company-member-list {
    padding: 0 40px;
    margin-top: 42px;
  }
}

@media screen and (min-width: 768px) {
  /* line 625, src/scss/pages/company.scss */
  .company-member-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
    padding: 62px 45px;
  }
}

@media screen and (min-width: 768px) and (max-width: 949px) {
  /* line 625, src/scss/pages/company.scss */
  .company-member-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media screen and (max-width: 767px) {
  /* line 636, src/scss/pages/company.scss */
  .company-member-item + .company-member-item {
    margin-top: 60px;
  }
}

/* line 642, src/scss/pages/company.scss */
.company-member-figure {
  margin: 0;
  position: relative;
}

/* line 646, src/scss/pages/company.scss */
.company-member-figure img {
  width: 100%;
}

/* line 650, src/scss/pages/company.scss */
.company-member-figure figcaption {
  font-size: 28px;
  line-height: 30px;
  color: #4fabba;
  font-weight: bold;
  margin-bottom: 14px;
  font-family: "nobel-bold", "Noto Sans JP", sans-serif, "Lato", sans-serif;
  letter-spacing: 2px;
  position: absolute;
  bottom: -1em;
  left: 0;
}

@media screen and (max-width: 767px) {
  /* line 650, src/scss/pages/company.scss */
  .company-member-figure figcaption {
    font-size: 30px;
  }
}

/* line 668, src/scss/pages/company.scss */
.company-member-info {
  margin-top: 28px;
}

/* line 672, src/scss/pages/company.scss */
.company-member-info-name {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: bold;
  letter-spacing: 0;
}

/* line 679, src/scss/pages/company.scss */
.company-member-info-name-inline {
  font-size: 13px;
  margin-bottom: 10px;
  display: block;
}

/* line 685, src/scss/pages/company.scss */
.company-member-info-detail {
  line-height: 1.84;
  color: #999;
  font-weight: bold;
  font-size: 13px;
}

/* line 692, src/scss/pages/company.scss */
.company-member-info-detail {
  line-height: 1.84;
  color: #999;
  font-weight: bold;
  font-size: 13px;
}
