/* line 67, src/scss/_variables.scss */
.box_base:after {
  position: absolute;
  content: '';
  display: inline-block;
  z-index: 0;
}

/* line 73, src/scss/_variables.scss */
.box_red:after {
  background-color: #ED644C;
}

/* line 76, src/scss/_variables.scss */
.box_light_blue:after {
  background-color: #4FABBA;
}

/* line 79, src/scss/_variables.scss */
.box_blue:after {
  background-color: #4C83ED;
}

/* line 82, src/scss/_variables.scss */
.box_brown:after {
  background-color: #C39682;
}

/* line 85, src/scss/_variables.scss */
.box_grey:after {
  background-color: #454A54;
}

/* line 67, src/scss/_variables.scss */
.box_base:after {
  position: absolute;
  content: '';
  display: inline-block;
  z-index: 0;
}

/* line 73, src/scss/_variables.scss */
.box_red:after {
  background-color: #ED644C;
}

/* line 76, src/scss/_variables.scss */
.box_light_blue:after {
  background-color: #4FABBA;
}

/* line 79, src/scss/_variables.scss */
.box_blue:after {
  background-color: #4C83ED;
}

/* line 82, src/scss/_variables.scss */
.box_brown:after {
  background-color: #C39682;
}

/* line 85, src/scss/_variables.scss */
.box_grey:after {
  background-color: #454A54;
}

/*==========================================================================
# detail
========================================================================== */
/* line 8, src/scss/pages/detail.scss */
.detail-container {
  padding: 62px 40px 155px;
}

@media screen and (min-width: 768px) and (max-width: 949px) {
  /* line 8, src/scss/pages/detail.scss */
  .detail-container {
    padding: 62px 20px 155px;
  }
}

@media screen and (max-width: 767px) {
  /* line 8, src/scss/pages/detail.scss */
  .detail-container {
    padding: 34px 20px 88px;
  }
}

/* line 19, src/scss/pages/detail.scss */
.news .detail-container {
  background: #f8f8f8;
}

/* line 23, src/scss/pages/detail.scss */
.useful_information .detail-container {
  padding: 100px 40px 190px;
}

@media screen and (max-width: 767px) {
  /* line 23, src/scss/pages/detail.scss */
  .useful_information .detail-container {
    padding: 60px 20px 160px;
  }
}

/* line 32, src/scss/pages/detail.scss */
.detail-inner {
  max-width: 1100px;
  margin: 0 auto;
}

/* line 36, src/scss/pages/detail.scss */
.news .detail-inner {
  background: #fff;
  padding: 80px 100px 120px;
}

@media screen and (min-width: 768px) and (max-width: 949px) {
  /* line 36, src/scss/pages/detail.scss */
  .news .detail-inner {
    padding: 80px 40px 120px;
  }
}

@media screen and (max-width: 767px) {
  /* line 36, src/scss/pages/detail.scss */
  .news .detail-inner {
    padding: 24px 20px 80px;
  }
}

/* line 49, src/scss/pages/detail.scss */
.useful_information .detail-inner {
  max-width: 900px;
}

/* line 54, src/scss/pages/detail.scss */
.detail-header {
  border-bottom: solid 4px #eee;
  padding-bottom: 40px;
}

@media screen and (max-width: 767px) {
  /* line 54, src/scss/pages/detail.scss */
  .detail-header {
    padding-bottom: 24px;
  }
}

/* line 63, src/scss/pages/detail.scss */
.detail-header-date {
  font-size: 13px;
  font-family: "nobel-bold", "Noto Sans JP", sans-serif, "Lato", sans-serif;
  letter-spacing: .05em;
  color: #4fabba;
}

/* line 70, src/scss/pages/detail.scss */
.detail-header-title {
  margin-top: 12px;
  color: #00282e;
  font-size: 34px;
  font-weight: bold;
  line-height: 1.47;
}

@media screen and (max-width: 767px) {
  /* line 70, src/scss/pages/detail.scss */
  .detail-header-title {
    font-size: 24px;
  }
}

/* line 82, src/scss/pages/detail.scss */
.detail-content {
  margin-top: 48px;
}

@media screen and (max-width: 767px) {
  /* line 82, src/scss/pages/detail.scss */
  .detail-content {
    margin-top: 30px;
  }
}

/* line 89, src/scss/pages/detail.scss */
.detail-content h1, .detail-content h2, .detail-content h3, .detail-content h4, .detail-content h5, .detail-content h6 {
  font-weight: bold;
  line-height: 1.5556;
  margin: 2.8em 0 1em;
}

@media screen and (max-width: 767px) {
  /* line 89, src/scss/pages/detail.scss */
  .detail-content h1, .detail-content h2, .detail-content h3, .detail-content h4, .detail-content h5, .detail-content h6 {
    margin: 1.4em 0;
  }
}

/* line 99, src/scss/pages/detail.scss */
.detail-content h1, .detail-content h2 {
  font-size: 18px;
  font-weight: bold;
}

/* line 104, src/scss/pages/detail.scss */
.detail-content h3 {
  font-size: 16px;
}

/* line 108, src/scss/pages/detail.scss */
.detail-content h4 {
  font-size: 15px;
}

/* line 112, src/scss/pages/detail.scss */
.detail-content h4, .detail-content h5, .detail-content h6 {
  font-size: 14px;
}

/* line 116, src/scss/pages/detail.scss */
.detail-content p {
  font-size: 13px;
  line-height: 1.84;
  margin: 1em 0;
}

/* line 122, src/scss/pages/detail.scss */
.detail-content a {
  color: #4fabba;
  text-decoration: underline;
}

/* line 127, src/scss/pages/detail.scss */
.detail-content ul {
  list-style: disc;
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

/* line 137, src/scss/pages/detail.scss */
.detail-content blockquote {
  position: relative;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: italic;
  background: #efefef;
  color: #555;
  border-left: solid 4px #888;
}

@media screen and (max-width: 767px) {
  /* line 137, src/scss/pages/detail.scss */
  .detail-content blockquote {
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 151, src/scss/pages/detail.scss */
.detail-content blockquote p {
  padding: 0;
  margin: 10px 0;
  line-height: 1.5556;
}

/* line 157, src/scss/pages/detail.scss */
.detail-content blockquote cite {
  display: block;
  text-align: right;
  color: #888;
  font-size: .9em;
}

/* line 166, src/scss/pages/detail.scss */
.detail-content img {
  max-width: 100%;
  height: auto;
}

/* line 172, src/scss/pages/detail.scss */
.detail-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 74px;
}

/* line 179, src/scss/pages/detail.scss */
.detail-share-label {
  font-size: 13px;
  font-weight: bold;
  font-family: "nobel-bold", "Noto Sans JP", sans-serif, "Lato", sans-serif;
  text-transform: uppercase;
  color: #999;
}

/* line 187, src/scss/pages/detail.scss */
.detail-share-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
}

/* line 193, src/scss/pages/detail.scss */
.detail-share-item {
  width: 25px;
}

/* line 196, src/scss/pages/detail.scss */
.detail-share-item + .detail-share-item {
  margin-left: 15px;
}

/* line 200, src/scss/pages/detail.scss */
.detail-share-item.-linkedin {
  width: 28px;
}

/* line 205, src/scss/pages/detail.scss */
.detail-share-item-link {
  display: block;
}

@media screen and (min-width: 950px) {
  /* line 205, src/scss/pages/detail.scss */
  .detail-share-item-link {
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
  }
  /* line 211, src/scss/pages/detail.scss */
  .detail-share-item-link:hover {
    opacity: .7;
  }
}

/* line 216, src/scss/pages/detail.scss */
.detail-share-item-link img {
  width: 100%;
}
