/* line 67, src/scss/_variables.scss */
.box_base:after {
  position: absolute;
  content: '';
  display: inline-block;
  z-index: 0;
}

/* line 73, src/scss/_variables.scss */
.box_red:after {
  background-color: #ED644C;
}

/* line 76, src/scss/_variables.scss */
.box_light_blue:after {
  background-color: #4FABBA;
}

/* line 79, src/scss/_variables.scss */
.box_blue:after {
  background-color: #4C83ED;
}

/* line 82, src/scss/_variables.scss */
.box_brown:after {
  background-color: #C39682;
}

/* line 85, src/scss/_variables.scss */
.box_grey:after {
  background-color: #454A54;
}

/* line 67, src/scss/_variables.scss */
.box_base:after {
  position: absolute;
  content: '';
  display: inline-block;
  z-index: 0;
}

/* line 73, src/scss/_variables.scss */
.box_red:after {
  background-color: #ED644C;
}

/* line 76, src/scss/_variables.scss */
.box_light_blue:after {
  background-color: #4FABBA;
}

/* line 79, src/scss/_variables.scss */
.box_blue:after {
  background-color: #4C83ED;
}

/* line 82, src/scss/_variables.scss */
.box_brown:after {
  background-color: #C39682;
}

/* line 85, src/scss/_variables.scss */
.box_grey:after {
  background-color: #454A54;
}

/* line 7, src/scss/pages/legal.scss */
.legal-section + .legal-section {
  border-top: solid 4px #eee;
  margin-top: 95px;
  padding-top: 90px;
}

@media screen and (max-width: 767px) {
  /* line 7, src/scss/pages/legal.scss */
  .legal-section + .legal-section {
    margin-top: 65px;
    padding-top: 62px;
  }
}

/* line 18, src/scss/pages/legal.scss */
.legal-section p {
  font-size: 13px;
  line-height: 1.846;
  letter-spacing: .06em;
  margin: 1em 0;
}

/* line 24, src/scss/pages/legal.scss */
.legal-section p.-revision {
  margin-top: 60px;
}

/* line 29, src/scss/pages/legal.scss */
.legal-section strong {
  font-weight: bold;
}

/* line 33, src/scss/pages/legal.scss */
.legal-section h2 {
  font-size: 34px;
  margin-bottom: 48px;
  letter-spacing: 0;
  color: #00282e;
}

@media screen and (max-width: 767px) {
  /* line 33, src/scss/pages/legal.scss */
  .legal-section h2 {
    font-size: 24px;
  }
}

/* line 44, src/scss/pages/legal.scss */
.legal-section h3 {
  font-size: 18px;
  margin-bottom: 8px;
  letter-spacing: .05em;
  color: #00282e;
}

/* line 51, src/scss/pages/legal.scss */
.legal-section h4 {
  margin-bottom: 4px;
  color: #00282e;
}

/* line 56, src/scss/pages/legal.scss */
.legal-section ol {
  padding: 0;
  margin: 0;
}

/* line 60, src/scss/pages/legal.scss */
.legal-section ol.-withoutNumber {
  list-style: none;
}

/* line 64, src/scss/pages/legal.scss */
.legal-section ol.-alpha {
  list-style: upper-alpha;
  padding-left: 40px;
}

/* line 72, src/scss/pages/legal.scss */
.legal-section > ul > li + li {
  margin-top: 38px;
}
