extends ../_includes/_layout.pug

append variables
  //- Required
  - var pageID = "news";
  - var pageTitle = "ニュース";
  - var pageDescription = site.description;
  //- Optional
  - var pageOgpImage = site.ogpImage
  - var pageOgpType = "article";

block styles
  link(rel="stylesheet" type="text/css" href="../../css/pages/news.min.css")



block content
  section.keyvisual
    p
      span.key_title_main NEWS
      |
      span.key_title_sub お知らせ
  .news_container
    .news_cntents
      a(href="/news/detail/")
        .a_news
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
      a(href="/news/detail/")
        .a_news
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
      a(href="/news/detail/")
        .a_news
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
      a(href="/news/detail/")
        .a_news
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
      a(href="/news/detail/")
        .a_news
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
      a(href="/news/detail/")
        .a_news
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
      a(href="/news/detail/")
        .a_news
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
      a(href="/news/detail/")
        .a_news
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります

    .nav_num
      a(href="#").active 1
      a(href="#") 2
      a(href="#") 3
      img(src="/img/arrow_brack.svg", alt="arrow", class="arrow")
      span.arrow
