extends ../_includes/_layout.pug

append variables
  //- Required
  - var pageID = "legal";
  - var pageTitle = "プライバシーポリシー";
  - var pageDescription = site.description;
  //- Optional
  - var pageOgpImage = site.ogpImage
  - var pageOgpType = "website";
  
block styles
  link(rel="stylesheet" type="text/css" href="../css/pages/legal.min.css")


block content
  section.keyvisual
    p 
      span.key_title_main PRIVACY POLICY
      span.key_title_sub 個人情報の取り扱い
  .legal_container
    .cace
      .personal_data
        h3 個人情報の取り扱い
        div.one_sec.one_sec_01
          h4 hタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入ります
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
        div.one_sec
          h4 hタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入ります
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
        div.one_sec
          h4 hタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入ります
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
        div.one_sec
          h4 hタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入ります
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
        div.one_sec
          h4 hタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入ります
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
        div.one_sec
          h4 hタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入ります
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
        div.one_sec
          h4 hタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入ります
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
      .privacy_data
        h3 プライバシーポリシー
        div.one_sec.one_sec_01
          h4 hタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入ります
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
        div.one_sec
          h4 hタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入ります
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
        div.one_sec
          h4 hタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入ります
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
        div.one_sec
          h4 hタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入ります
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
        div.one_sec
          h4 hタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入ります
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
        div.one_sec
          h4 hタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入ります
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
        div.one_sec
          h4 hタグが入りますhタグが入りますhタグが入りますhタグが入りますhタグが入ります
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
